<table border="0" cellpadding="0" cellspacing="0" width="402">
  <tbody>
  <tr height="68">
  <td height="68" width="117">Age (weeks)</td>
  <td width="99">Body weight (kg)</td>
  <td width="94">Amount (grams/day)</td>
  <td width="92">Amount (grams/day)</td>
  </tr>
  <tr height="20">
  <td height="20">4</td>
  <td>0,5</td>
  <td>25</td>
  <td>40</td>
  </tr>
  <tr height="20">
  <td height="20">8</td>
  <td>1</td>
  <td>40</td>
  <td>50</td>
  </tr>
  <tr height="20">
  <td height="20">12</td>
  <td>1,5</td>
  <td>55</td>
  <td>60</td>
  </tr>
  <tr height="20">
  <td height="20">16</td>
  <td>2</td>
  <td>55</td>
  <td>60</td>
  </tr>
  <tr height="20">
  <td height="20">20</td>
  <td>2,5</td>
  <td>60</td>
  <td>70</td>
  </tr>
  <tr height="20">
  <td height="20">30</td>
  <td>3</td>
  <td>70</td>
  <td>85</td>
  </tr>
  <tr height="20">
  <td height="20">40</td>
  <td>4-6</td>
  <td>70</td>
  <td>90</td>
  </tr>
  <tr height="20">
  <td height="20">&gt;50</td>
  <td>4-6</td>
  <td>55</td>
  <td>75</td>
  </tr>
  <tr height="20">
  <td height="20">Gestation</td>
  <td>4-6</td>
  <td>80</td>
  <td>105</td>
  </tr>
  </tbody>
  </table>