<table border="0" cellpadding="0" cellspacing="0" width="493">
  <tbody>
  <tr height="20">
  <td height="20" width="107">&nbsp;</td>
  <td colspan="2" width="188">פחות פעיל</td>
  <td colspan="2" width="198">יותר פעיל</td>
  </tr>
  <tr height="51">
  <td height="51" width="107">משקל גוף (קילו)</td>
  <td width="87">כמות (גרם/יום)&nbsp;</td>
  <td width="101">כמות (לפי פחית 200גרם/יום)&nbsp;</td>
  <td width="91">כמות (גרם/יום)&nbsp;</td>
  <td width="107">כמות (לפי פחית 200גרם/יום)&nbsp;</td>
  </tr>
  <tr height="20">
  <td height="20">2</td>
  <td>105</td>
  <td>&nbsp;1/2</td>
  <td>155</td>
  <td>&nbsp;3/4</td>
  </tr>
  <tr height="20">
  <td height="20">3</td>
  <td>140</td>
  <td>&nbsp;2/3</td>
  <td>200</td>
  <td>1&nbsp;</td>
  </tr>
  <tr height="20">
  <td height="20">4</td>
  <td>170</td>
  <td>&nbsp;3/4</td>
  <td>245</td>
  <td>1 1/4</td>
  </tr>
  <tr height="20">
  <td height="20">5</td>
  <td>195</td>
  <td>1&nbsp;</td>
  <td>280</td>
  <td>1 1/2</td>
  </tr>
  <tr height="20">
  <td height="20">6</td>
  <td>225</td>
  <td>1&nbsp;</td>
  <td>320</td>
  <td>1 2/3</td>
  </tr>
  <tr height="20">
  <td height="20">7</td>
  <td>245</td>
  <td>1 1/2</td>
  <td>355</td>
  <td>1 3/4</td>
  </tr>
  <tr height="20">
  <td height="20">8</td>
  <td>270</td>
  <td>1 1/3</td>
  <td>385</td>
  <td>2&nbsp;</td>
  </tr>
  <tr height="20">
  <td height="20">9</td>
  <td>295</td>
  <td>1 1/2</td>
  <td>420</td>
  <td>2&nbsp;</td>
  </tr>
  <tr height="20">
  <td height="20">10</td>
  <td>315</td>
  <td>1 2/3</td>
  <td>450</td>
  <td>2 1/4</td>
  </tr>
  </tbody>
  </table>