<table width="382">
  <tbody>
  <tr height="42">
  <td height="42" width="66">&nbsp;</td>
  <td width="106">Low activity</td>
  <td width="106">Moderate activity</td>
  <td width="106">High activity</td>
  </tr>
  <tr height="34">
  <td height="34" width="66">Current body weight (kg)</td>
  <td width="106">Amount (grams/day)</td>
  <td width="106">Amount (grams/day)</td>
  <td width="106">Amount (grams/day)</td>
  </tr>
  <tr height="19">
  <td height="19">10</td>
  <td>150</td>
  <td>185</td>
  <td>210</td>
  </tr>
  <tr height="19">
  <td height="19">15</td>
  <td>200</td>
  <td>255</td>
  <td>285</td>
  </tr>
  <tr height="19">
  <td height="19">20</td>
  <td>250</td>
  <td>315</td>
  <td>350</td>
  </tr>
  <tr height="19">
  <td height="19">25</td>
  <td>295</td>
  <td>370</td>
  <td>415</td>
  </tr>
  <tr height="19">
  <td height="19">30</td>
  <td>340</td>
  <td>425</td>
  <td>475</td>
  </tr>
  <tr height="19">
  <td height="19">35</td>
  <td>380</td>
  <td>475</td>
  <td>535</td>
  </tr>
  <tr height="19">
  <td height="19">40</td>
  <td>420</td>
  <td>525</td>
  <td>590</td>
  </tr>
  <tr height="19">
  <td height="19">45</td>
  <td>460</td>
  <td>575</td>
  <td>645</td>
  </tr>
  <tr height="19">
  <td height="19">50</td>
  <td>500</td>
  <td>625</td>
  <td>700</td>
  </tr>
  <tr height="19">
  <td height="19">55</td>
  <td>535</td>
  <td>670</td>
  <td>750</td>
  </tr>
  <tr height="19">
  <td height="19">60</td>
  <td>570</td>
  <td>715</td>
  <td>800</td>
  </tr>
  <tr height="19">
  <td height="19">65</td>
  <td>605</td>
  <td>760</td>
  <td>850</td>
  </tr>
  <tr height="19">
  <td height="19">70</td>
  <td>640</td>
  <td>800</td>
  <td>900</td>
  </tr>
  <tr height="19">
  <td height="19">80</td>
  <td>710</td>
  <td>885</td>
  <td>995</td>
  </tr>
  <tr height="19">
  <td height="19">90</td>
  <td>775</td>
  <td>970</td>
  <td>1085</td>
  </tr>
  </tbody>
  </table>