<table border="0" cellpadding="0" cellspacing="0" width="399">
  <tbody>
  <tr height="40">
  <td height="40" width="118">&nbsp;</td>
  <td width="85">Low activity</td>
  <td width="96">Moderate activity</td>
  <td width="100">High activity&nbsp;</td>
  </tr>
  <tr height="34">
  <td height="34" width="118">Body weight (kg)</td>
  <td width="85">
  <p>Amount (grams/day)&nbsp;</p>
  </td>
  <td width="96">
  <p>Amount (grams/day)&nbsp;</p>
  </td>
  <td width="100">
  <p>Amount (grams/day)&nbsp;</p>
  </td>
  </tr>
  <tr height="20">
  <td height="20">2,5</td>
  <td>50</td>
  <td>65</td>
  <td>70</td>
  </tr>
  <tr height="20">
  <td height="20">5</td>
  <td>85</td>
  <td>105</td>
  <td>120</td>
  </tr>
  <tr height="20">
  <td height="20">10</td>
  <td>145</td>
  <td>180</td>
  <td>200</td>
  </tr>
  <tr height="20">
  <td height="20">15</td>
  <td>195</td>
  <td>245</td>
  <td>275</td>
  </tr>
  <tr height="20">
  <td height="20">20</td>
  <td>245</td>
  <td>305</td>
  <td>340</td>
  </tr>
  <tr height="20">
  <td height="20">25</td>
  <td>285</td>
  <td>360</td>
  <td>400</td>
  </tr>
  <tr height="20">
  <td height="20">30</td>
  <td>330</td>
  <td>410</td>
  <td>460</td>
  </tr>
  <tr height="20">
  <td height="20">35</td>
  <td>370</td>
  <td>460</td>
  <td>520</td>
  </tr>
  <tr height="20">
  <td height="20">40</td>
  <td>410</td>
  <td>510</td>
  <td>570</td>
  </tr>
  <tr height="20">
  <td height="20">45</td>
  <td>445</td>
  <td>560</td>
  <td>625</td>
  </tr>
  <tr height="20">
  <td height="20">50</td>
  <td>485</td>
  <td>605</td>
  <td>675</td>
  </tr>
  <tr height="20">
  <td height="20">60</td>
  <td>555</td>
  <td>695</td>
  <td>775</td>
  </tr>
  <tr height="20">
  <td height="20">70</td>
  <td>620</td>
  <td>780</td>
  <td>870</td>
  </tr>
  <tr height="20">
  <td height="20">80</td>
  <td>690</td>
  <td>860</td>
  <td>965</td>
  </tr>
  </tbody>
  </table>