<table width="381">
  <tbody>
  <tr height="35">
  <td height="74" rowspan="3" width="64">משקל גוף (קילו)</td>
  <td width="106">פחות פעיל</td>
  <td width="106">&nbsp;</td>
  <td width="106">פעילות ממוצעת</td>
  <td width="106">יותר פעיל</td>
  </tr>
  <tr height="19">
  <td height="38" rowspan="2" width="106">כמות (גרם ליום)</td>
  <td height="38" rowspan="2" width="106">&nbsp;</td>
  <td height="38" rowspan="2" width="106">כמות (גרם ליום)</td>
  <td height="38" rowspan="2" width="106">כמות (גרם ליום)</td>
  </tr>
  <tr height="19">
      </tr>
  <tr height="19">
  <td height="19">1</td>
  <td>25</td>
  <td>&nbsp;</td>
  <td>30</td>
  <td>35</td>
  </tr>
  <tr height="19">
  <td height="19">2</td>
  <td>45</td>
  <td>&nbsp;</td>
  <td>55</td>
  <td>60</td>
  </tr>
  <tr height="19">
  <td height="19">3</td>
  <td>60</td>
  <td>&nbsp;</td>
  <td>70</td>
  <td>80</td>
  </tr>
  <tr height="19">
  <td height="19">4</td>
  <td>70</td>
  <td>&nbsp;</td>
  <td>90</td>
  <td>100</td>
  </tr>
  <tr height="19">
  <td height="19">5</td>
  <td>85</td>
  <td>&nbsp;</td>
  <td>105</td>
  <td>120</td>
  </tr>
  <tr height="19">
  <td height="19">6</td>
  <td>95</td>
  <td>&nbsp;</td>
  <td>120</td>
  <td>135</td>
  </tr>
  <tr height="19">
  <td height="19">7</td>
  <td>110</td>
  <td>&nbsp;</td>
  <td>135</td>
  <td>155</td>
  </tr>
  <tr height="19">
  <td height="19">8</td>
  <td>120</td>
  <td>&nbsp;</td>
  <td>150</td>
  <td>170</td>
  </tr>
  <tr height="19">
  <td height="19">9</td>
  <td>130</td>
  <td>&nbsp;</td>
  <td>165</td>
  <td>185</td>
  </tr>
  <tr height="19">
  <td height="19">10</td>
  <td>140</td>
  <td>&nbsp;</td>
  <td>180</td>
  <td>200</td>
  </tr>
  <tr height="19">
  <td height="19">11</td>
  <td>155</td>
  <td>&nbsp;</td>
  <td>190</td>
  <td>215</td>
  </tr>
  <tr height="19">
  <td height="19">12</td>
  <td>165</td>
  <td>&nbsp;</td>
  <td>205</td>
  <td>230</td>
  </tr>
  <tr height="19">
  <td height="19">13</td>
  <td>175</td>
  <td>&nbsp;</td>
  <td>215</td>
  <td>245</td>
  </tr>
  <tr height="19">
  <td height="19">14</td>
  <td>185</td>
  <td>&nbsp;</td>
  <td>230</td>
  <td>255</td>
  </tr>
  <tr height="19">
  <td height="19">15</td>
  <td>195</td>
  <td>&nbsp;</td>
  <td>240</td>
  <td>270</td>
  </tr>
  </tbody>
  </table>