<pre>
<code>This is pulling from a file 
% include 'composition/fit-selection-chicken-rice.html' %</code>
</pre>
<div>
  <div class="field field-name-field-tabel-test field-type-tablefield field-label-hidden">
    <div class="field-items">
      <div class="field-item even">
        <div id="tablefield-wrapper-node-9199-field-tabel-test-0" class="tablefield-wrapper">
          <table id="tablefield-node-9199-field_tabel_test-0" class="tablefield  tablefield-columns-2 sticky-enabled">
            <caption></caption>
            <thead>
              <tr>
                <th class="row_0 col_0" scope="col">Analysis</th>
                <th class="row_0 col_1" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd">
                <td class="row_1 col_0">Moisture</td>
                <td class="row_1 col_1">8.0%</td>
              </tr>
              <tr class="even">
                <td class="row_2 col_0">Crude protein</td>
                <td class="row_2 col_1">14.0%</td>
              </tr>
              <tr class="odd">
                <td class="row_3 col_0">Crude fat</td>
                <td class="row_3 col_1">18.0%</td>
              </tr>
              <tr class="even">
                <td class="row_4 col_0">Essential fatty acids</td>
                <td class="row_4 col_1">4.9%</td>
              </tr>
              <tr class="odd">
                <td class="row_5 col_0">Omega 3 fatty acids</td>
                <td class="row_5 col_1">0.8%</td>
              </tr>
              <tr class="even">
                <td class="row_6 col_0">Crude ash</td>
                <td class="row_6 col_1">2.9%</td>
              </tr>
              <tr class="odd">
                <td class="row_7 col_0">Crude fibre</td>
                <td class="row_7 col_1">2.6%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="field field-name-field-table-mineralen field-type-tablefield field-label-hidden">
    <div class="field-items">
      <div class="field-item even">
        <div id="tablefield-wrapper-node-9199-field-table-mineralen-0" class="tablefield-wrapper">
          <table id="tablefield-node-9199-field_table_mineralen-0"
            class="tablefield  tablefield-columns-2 sticky-enabled">
            <caption></caption>
            <thead>
              <tr>
                <th class="row_0 col_0" scope="col">Minerals</th>
                <th class="row_0 col_1" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd">
                <td class="row_1 col_0">Calcium</td>
                <td class="row_1 col_1">0.4%</td>
              </tr>
              <tr class="even">
                <td class="row_2 col_0">Phosphorus</td>
                <td class="row_2 col_1">0.4%</td>
              </tr>
              <tr class="odd">
                <td class="row_3 col_0">Potassium</td>
                <td class="row_3 col_1">0.6%</td>
              </tr>
              <tr class="even">
                <td class="row_4 col_0">Magnesium</td>
                <td class="row_4 col_1">0.1%</td>
              </tr>
              <tr class="odd">
                <td class="row_5 col_0">Sodium</td>
                <td class="row_5 col_1">0.2%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="field field-name-field-table-voedingswaarde field-type-tablefield field-label-hidden">
    <div class="field-items">
      <div class="field-item even">
        <div id="tablefield-wrapper-node-9199-field-table-voedingswaarde-0" class="tablefield-wrapper">
          <table id="tablefield-node-9199-field_table_voedingswaarde-0"
            class="tablefield  tablefield-columns-2 sticky-enabled">
            <caption></caption>
            <thead>
              <tr>
                <th class="row_0 col_0" scope="col">Energy content</th>
                <th class="row_0 col_1" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd">
                <td class="row_1 col_0">4360 kcal/kg</td>
                <td class="row_1 col_1"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="field field-name-field-samenstelling field-type-text-long field-label-above">
    <div class="field-label">Composition:&nbsp;</div>
    <div class="field-items">
      <div class="field-item even">
        <p>Corn, animal fats (poultry), rice, corn gluten, barley, beet pulp, salmon oil, hydrolysed chicken liver,
          dehydrated chicken, calcium carbonate, choline chloride, potassium chloride.</p>
      </div>
    </div>
  </div>
  <div class="field field-name-field-gewicht field-type-taxonomy-term-reference field-label-above">
    <div class="field-label">Available in:&nbsp;</div>
    <div class="field-items">
      <div class="field-item even">3 kg</div>
      <div class="field-item odd">10 kg</div>
    </div>
  </div>
</div>