<div class="region region-second-main">
  <div id="block-views-artikel-overzicht-block-2" class="block block-views">


    <div class="content">
      <div
        class="view view-artikel-overzicht view-id-artikel_overzicht view-display-id-block_2 overzicht-3 view-dom-id-e72743a89a3001b392c96d7043cd1e18 jquery-once-1-processed refresh-processed">



        <div class="view-content">
          <div class="views-row views-row-1 views-row-odd views-row-first">

            <div class="article-title views-fieldset" data-module="views_fieldsets">
              <div class="views-field views-field-field-opgemaakte-titel-regel-2">
                <div class="field-content">Prins Foundation donates hundreds of Christmas gift boxes</div>
              </div>
              <div class="views-field views-field-field-opgemaakte-titel-regel-1">
                <div class="field-content">Packages full of goodies for both humans and animals</div>
              </div>
            </div>


            <div class="views-field views-field-field-startafbeelding">
              <div class="field-content">
                <div class="home-bg-image"
                  style="background-image: url(&#39;https://www.prinspetfoods.com/sites/default/files/styles/450x450/public/ontwerp_zonder_titel_30_0.jpg?itok=WffNy8MK&amp;c=f0ac2541d0fc1a49a045bb3e41121662&#39;);background-size:cover;opacity:0.7;">
                </div>
              </div>
            </div>
            <div class="views-field views-field-view-node"> <span class="field-content"><a
                  href="https://www.prinspetfoods.com/advice-info/prins-foundation-donates-hundreds-christmas-gift-boxes">Lees
                  het artikel</a></span> </div>
          </div>
          <div class="views-row views-row-2 views-row-even">

            <div class="article-title views-fieldset" data-module="views_fieldsets">
              <div class="views-field views-field-field-opgemaakte-titel-regel-2">
                <div class="field-content">Prins introduces pet education program for primary schools </div>
              </div>
              <div class="views-field views-field-field-opgemaakte-titel-regel-1">
                <div class="field-content">Learn the basics of pet care in a playful way</div>
              </div>
            </div>


            <div class="views-field views-field-field-startafbeelding">
              <div class="field-content">
                <div class="home-bg-image"
                  style="background-image: url(&#39;https://www.prinspetfoods.com/sites/default/files/styles/450x450/public/ontwerp_zonder_titel_19_0.jpg?itok=MgDdh80r&amp;c=912f7ce33230c9432d736d158390d483&#39;);background-size:cover;opacity:0.7;">
                </div>
              </div>
            </div>
            <div class="views-field views-field-view-node"> <span class="field-content"><a
                  href="https://www.prinspetfoods.com/advice-info/prins-introduces-pet-education-program-primary-schools">Lees
                  het artikel</a></span> </div>
          </div>
          <div class="views-row views-row-3 views-row-odd views-row-last">

            <div class="article-title views-fieldset" data-module="views_fieldsets">
              <div class="views-field views-field-field-opgemaakte-titel-regel-2">
                <div class="field-content">Prins presents dog play paradise Prins Plaza</div>
              </div>
              <div class="views-field views-field-field-opgemaakte-titel-regel-1">
                <div class="field-content">Unique holiday resort for dog lovers</div>
              </div>
            </div>


            <div class="views-field views-field-field-startafbeelding">
              <div class="field-content">
                <div class="home-bg-image"
                  style="background-image: url(&#39;https://www.prinspetfoods.com/sites/default/files/styles/450x450/public/ontwerp_zonder_titel_12_1.jpg?itok=JpRjp_0w&amp;c=f0ac2541d0fc1a49a045bb3e41121662&#39;);background-size:cover;opacity:0.7;">
                </div>
              </div>
            </div>
            <div class="views-field views-field-view-node"> <span class="field-content"><a
                  href="https://www.prinspetfoods.com/advice-info/prins-presents-dog-play-paradise-prins-plaza">Lees
                  het artikel</a></span> </div>
          </div>
        </div>






      </div>
    </div>
  </div>
  <div id="block-views-artikel-overzicht-block-3" class="block block-views">


    <div class="content">
      <div
        class="view view-artikel-overzicht view-id-artikel_overzicht view-display-id-block_3 overzicht-4 view-dom-id-f624317c5fd194dccd2c06f5750b2308 jquery-once-1-processed refresh-processed">



        <div class="view-content">
          <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

            <div class="article-title views-fieldset" data-module="views_fieldsets">
              <div class="views-field views-field-field-opgemaakte-titel-regel-2">
                <div class="field-content">Prins Petfoods launches campaign aimed at kids and animals </div>
              </div>
              <div class="views-field views-field-field-opgemaakte-titel-regel-1">
                <div class="field-content">Booklet about how children and dogs can grow up safely </div>
              </div>
            </div>


            <div class="views-field views-field-field-startafbeelding">
              <div class="field-content">
                <div class="home-bg-image"
                  style="background-image: url(&#39;https://www.prinspetfoods.com/sites/default/files/styles/900x410/public/ontwerp_zonder_titel_3_0.jpg?itok=4MONmncx&amp;c=7beb5442b2054aede1fbd40333030339&#39;);background-size:cover;opacity:0.7;">
                </div>
              </div>
            </div>
            <div class="views-field views-field-view-node"> <span class="field-content"><a
                  href="https://www.prinspetfoods.com/discover-prins/about-prins/prins-petfoods-launches-campaign-aimed-kids-and-animals">Read
                  the article</a></span> </div>
          </div>
        </div>






      </div>
    </div>
  </div>
</div>