<div class="header-interactive">
  <div class="region region-header">
    <div id="block-views-home-header-block" class="block block-views">
      <div class="content">
        <div
          class="view view-home-header view-id-home_header view-display-id-block view-dom-id-3171914c51be01e7f154c9f510e4fa5f">
          <div class="view-content">
            <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
              <div class="views-field views-field-field-startafbeelding video-under-it" style="">
                <div class="field-content">
                  <div class="home-bg-image"
                    style="background-image: url(&#39;/sites/default/files/styles/1900x800/public/beeld%20home2_0.jpg?itok=L07dKQZ4&amp;c=31295a2681f2debfb1912671641cf412&#39;);background-size:cover;opacity:0.7;">
                  </div>
                </div>
              </div>
              <div class="views-field views-field-field-video-titel">
                <div class="field-content">בחר את הטוב ביותר בשביל החיה שלך</div>
              </div>
              <div class="views-field views-field-field-vimeo-video">
                <div class="field-content"><video
                    src="https://player.vimeo.com/external/201823680.hd.mp4?s=dbafd7b56935c59b150a9634c574c4268280d373&amp;profile_id=165"
                    frameborder="0" width="100%" height="650" id="vimeo-player" loop="" muted=""
                    style="margin-top: -103px;">
                    <source
                      src="https://player.vimeo.com/external/201823680.hd.mp4?s=dbafd7b56935c59b150a9634c574c4268280d373&amp;profile_id=165"
                      type="video/mp4">
                  </video></div>
              </div>
              <div class="views-field views-field-field-vimeo-video-kat">
                <div class="field-content">
                  <div class="item-list">
                    <ul>
                      <li class="first"><video
                          src="https://player.vimeo.com/external/201823686.hd.mp4?s=bcaecbf7774ebd3a302187029f09b1d84058ec56&amp;profile_id=165"
                          frameborder="0" width="100%" height="650" id="vimeo-player--2" loop="" muted=""
                          style="margin-top: -103px;">
                          <source
                            src="https://player.vimeo.com/external/201823686.hd.mp4?s=bcaecbf7774ebd3a302187029f09b1d84058ec56&amp;profile_id=165"
                            type="video/mp4">
                        </video></li>
                      <li class="last"><video
                          src="https://player.vimeo.com/external/201823674.hd.mp4?s=0a15fbe6c4dcc5dea3e5ba50ab454828f88c46ee&amp;profile_id=165"
                          frameborder="0" width="100%" height="650" id="vimeo-player--2" loop="" muted=""
                          style="margin-top: -103px;">
                          <source
                            src="https://player.vimeo.com/external/201823674.hd.mp4?s=0a15fbe6c4dcc5dea3e5ba50ab454828f88c46ee&amp;profile_id=165"
                            type="video/mp4">
                        </video></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="views-field views-field-field-vimeo-video-hond">
                <div class="field-content">
                  <div class="item-list">
                    <ul>
                      <li class="first"><video
                          src="https://player.vimeo.com/external/201833427.hd.mp4?s=c2088c3e8473dce37b58c7c7f64c81bf21ef194c&amp;profile_id=165"
                          frameborder="0" width="100%" height="650" id="vimeo-player--3" loop="" muted=""
                          style="margin-top: -103px;">
                          <source
                            src="https://player.vimeo.com/external/201833427.hd.mp4?s=c2088c3e8473dce37b58c7c7f64c81bf21ef194c&amp;profile_id=165"
                            type="video/mp4">
                        </video></li>
                      <li class="last"><video
                          src="https://player.vimeo.com/external/201842349.hd.mp4?s=f8c212f54d13ceb0c02469bc9ffaec9721ec14a9&amp;profile_id=165"
                          frameborder="0" width="100%" height="650" id="vimeo-player--3" loop="" muted=""
                          style="margin-top: -103px;">
                          <source
                            src="https://player.vimeo.com/external/201842349.hd.mp4?s=f8c212f54d13ceb0c02469bc9ffaec9721ec14a9&amp;profile_id=165"
                            type="video/mp4">
                        </video></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="view-footer">
            <div
              class="view view-header-animal-choice view-id-header_animal_choice view-display-id-block view-dom-id-a2a07d62793d2428dfcb0e4247e1674f">
              <div class="view-content">
                <div class="views-row views-row-1 views-row-odd views-row-first">
                  <div class="views-field views-field-field-dier-afbeelding">
                    <div class="field-content">
                      <a href="/our-products/cat">
                      <img class="svg-img size-thumbnail"
                        data-src="https://www.prinspetfoods.com/sites/default/files/svgimg/thumbnail/img-styles/kat-home_0.svg.png"
                        typeof="foaf:Image" src="/static/assets/images/svg/kat-home_0.svg" width="100" height="78"
                        alt="">
                      </a>
                    </div>
                  </div>
                  <div class="views-field views-field-field-link">
                    <div class="field-content slide-cat"><a class="button" href="/our-products/cat">חתול</a></div>
                  </div>
                </div>
                <div class="views-row views-row-2 views-row-even views-row-last">
                  <div class="views-field views-field-field-dier-afbeelding">
                    <div class="field-content">
                      <a href="/our-products/dog"><img class="svg-img size-thumbnail"
                        data-src="https://www.prinspetfoods.com/sites/default/files/svgimg/thumbnail/img-styles/hond-home_1.svg.png"
                        typeof="foaf:Image" src="/static/assets/images/svg/hond-home_1.svg" width="100" height="78"
                        alt="">
                      </a></div>
                  </div>
                  <div class="views-field views-field-field-link">
                    <div class="field-content slide-dog"><a class="button" href="/our-products/dog">כלב</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>