<div id="skip-link">
  <a href="#main-content" class="element-invisible element-focusable">Skip to main
    content</a>
  <a href="#navigation" class="element-invisible element-focusable">Skip to navigation</a>
</div>

    <nav>
      <div class="navigation-spanner">
        <div class="logobar">
          <div class="block-center">
            <a href="/" title="Home" id="logo" class="active">
              <img src="/static/assets/images/png/logo.png" alt="Home">
            </a>
          </div>
        </div>

        <div class="main-menu">
          <div class="menu-wrapper">
            <div class="region region-menu">
              <div id="block-system-main-menu" class="block block-system block-menu">


                <div class="content">
                  <ul class="menu">
                    <li class="first expanded"><a href="/">המוצרים שלנו</a>
                      <ul class="menu">
                        <li class="first leaf"><a href="/our-products/cat"
                            class="menu_icon menu-590">Cat</a></li>
                        <li class="leaf"><a href="/our-products/dog"
                            class="menu_icon menu-592">Dog</a></li>
                        <!-- <li class="last leaf"><a href="/nutrition-guide"
                            class="menu_icon menu-510">Nutrition Guide</a></li> -->
                      </ul>
                    </li>
                    <li class="expanded collapsed"><a href="/discover-prins">גלה את פרינס</a>
                      <ul class="menu">
                        <li class="first leaf collapsed"><a href="/discover-prins">מי הם פרינס?</a></li>
                        <!-- <li class="leaf"><a href="/prins-experience">Prins Experience</a>
                        </li>
                        <li class="leaf"><a href="/discover-prins/about-prins">About
                            Prins</a></li>
                        <li class="last leaf"><a
                            href="/discover-prins/about-prins/edupet-education">Edupet</a>
                        </li> -->
                      </ul>
                    </li>
                    <li class="last leaf"><a href="/dealer-info">מידע על משווקים</a></li>
                  </ul>
                </div>
              </div>
              <div id="block-search-form" class="block block-search">


                <div class="content">
                  <form action="/search" method="post" id="search-block-form"
                    accept-charset="UTF-8">
                    <div>
                      <div class="container-inline">
                        <h2 class="element-invisible">Search form</h2>
                        <div class="form-item form-type-textfield form-item-search-block-form">
                          <label class="element-invisible" for="edit-search-block-form--2">Search </label>
                          <input title="Enter the terms you wish to search for." placeholder="Enter your keywords"
                            type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15"
                            maxlength="128" class="form-text">
                        </div>
                        <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit"
                            name="op" value="Search" class="form-submit"></div><input type="hidden" name="form_build_id"
                          value="form-3M_vpWPl9GxxI7ccuwZstuedPYMlvRpOvIOZ42jIvwM">
                        <input type="hidden" name="form_id" value="search_block_form">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="toggle">
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="loader"></div>
    </nav>
