<div id="skip-link">
  <a href="https://www.prinspetfoods.com/#main-content" class="element-invisible element-focusable">Skip to main
    content</a>
  <a href="https://www.prinspetfoods.com/#navigation" class="element-invisible element-focusable">Skip to navigation</a>
</div>

    <nav>
      <div class="navigation-spanner">
        <div class="logobar">
          <div class="block-center">
            <a href="/" title="Home" id="logo" class="active">
              <img src="/static/assets/images/png/logo.png" alt="Home">
            </a>
          </div>
        </div>

        <div class="main-menu">
          <div class="menu-wrapper">
            <div class="region region-menu">
              <div id="block-system-main-menu" class="block block-system block-menu">


                <div class="content">
                  <ul class="menu">
                    <li class="first expanded"><a href="/">Our products</a>
                      <ul class="menu">
                        <li class="first leaf"><a href="/our-products/cat"
                            class="menu_icon menu-590">Cat</a></li>
                        <li class="leaf"><a href="/our-products/dog"
                            class="menu_icon menu-592">Dog</a></li>
                        <li class="last leaf"><a href="https://www.prinspetfoods.com/nutrition-guide"
                            class="menu_icon menu-510">Nutrition Guide</a></li>
                      </ul>
                    </li>
                    <li class="expanded collapsed"><a href="/discover-prins">Discover
                        Prins</a>
                      <ul class="menu">
                        <li class="first leaf collapsed"><a href="/discover-prins">Who is
                            Prins?</a></li>
                        <li class="leaf"><a href="https://www.prinspetfoods.com/prins-experience">Prins Experience</a>
                        </li>
                        <li class="leaf"><a href="https://www.prinspetfoods.com/discover-prins/about-prins">About
                            Prins</a></li>
                        <li class="last leaf"><a
                            href="https://www.prinspetfoods.com/discover-prins/about-prins/edupet-education">Edupet</a>
                        </li>
                      </ul>
                    </li>
                    <li class="last leaf"><a href="/dealer-info">Dealer Info</a></li>
                  </ul>
                </div>
              </div>
              <div id="block-search-form" class="block block-search">


                <div class="content">
                  <form action="/" method="post" id="search-block-form"
                    accept-charset="UTF-8">
                    <div>
                      <div class="container-inline">
                        <h2 class="element-invisible">Search form</h2>
                        <div class="form-item form-type-textfield form-item-search-block-form">
                          <label class="element-invisible" for="edit-search-block-form--2">Search </label>
                          <input title="Enter the terms you wish to search for." placeholder="Enter your keywords"
                            type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15"
                            maxlength="128" class="form-text">
                        </div>
                        <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit"
                            name="op" value="Search" class="form-submit"></div><input type="hidden" name="form_build_id"
                          value="form-3M_vpWPl9GxxI7ccuwZstuedPYMlvRpOvIOZ42jIvwM">
                        <input type="hidden" name="form_id" value="search_block_form">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div id="block-menu-block-1" class="block block-menu-block">


                <div class="content">
                  <div
                    class="menu-block-wrapper menu-block-1 menu-name-menu-second-main-menu parent-mlid-0 menu-level-1">
                    <ul class="menu">
                      <li class="first last leaf menu-mlid-1389"><a
                          href="https://www.prinspetfoods.com/ask-our-careteam">Ask our CareTeam</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="block-extra-locale-language" class="block block-extra-locale contextual-links-region">
                <div class="content">
                  <ul class="language-switcher-locale-url">
                    <li class="nl first "><a href="https://prinspetfoods.nl/" class="language-link"
                        xml:lang="nl">Nederlands</a></li>
                    <li class="en active"><a href="https://prinspetfoods.com/?language=en" class="language-link"
                        xml:lang="en">English</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="toggle">
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="loader"></div>
    </nav>
