<div class="collapsible group-subbox field-group-div speed-fast effect-none fieldgroup-effects-processed">
  <h3><span class="field-group-format-toggler"><a class="field-group-format-title" href="#"></a></span></h3>
  <div class="field-group-format-wrapper" style="display: block;">
    <div class="field field-name-field-subafbeelding field-type-image field-label-hidden">
      <div class="field-items">
        <div class="field-item even"><img typeof="foaf:Image"
            src="/static/assets/images/products/{{ food_image_path }}" width="931"
            height="665" alt=""></div>
      </div>
    </div>
    <div class="subcontent-wrap">
      <div class="field field-name-field-usp-afbeelding field-type-image field-label-hidden">
        <div class="field-items">
          <div class="field-item even"><img typeof="foaf:Image"
              src="/static/assets/images/png/icon-usp-1_1.png" width="228" height="228" alt="">
          </div>
        </div>
      </div>
      <div class="field field-name-field-subheader field-type-text field-label-hidden">
        <div class="field-items">
          <div class="field-item even">100% אוכל טבעי</div>
        </div>
      </div>
      <div class="field field-name-field-subalinea field-type-text-long field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <p>כל המוצרים שלנו מיוצרים מ100% מרכיבים טבעיים! אנחנו לא משתשמים בחומרי צבע, ריח או טעמים מלאכותיים. באוכל של פרינס תמצאו רק את המרכיבים האיכותיים ביותר בשביל החיה שלכם.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>