<div id="block-views-usp-s-block" class="block block-views">
  <div class="content">
    <div class="view view-usp-s view-id-usp_s view-display-id-block view-dom-id-5fa22a91df0c1057cad013c7b20712a7">
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">

          <div class="views-field views-field-field-usp-afbeelding">
            <div class="field-content"><img class="svg-img size-thumbnail"
                data-src="https://www.prinspetfoods.com/sites/default/files/svgimg/thumbnail/img-styles/kcfinder/images/Iconen/Groen%20-%20SVG/100-proc-natuurlijk.svg.png"
                typeof="foaf:Image" src="./static/assets/images/svg/100-proc-natuurlijk.svg" width="100" height="78"
                alt="">
            </div>
          </div>
          <div class="views-field views-field-field-usp-titel">
            <div class="field-content">100% natural</div>
          </div>
          <div class="views-field views-field-field-usp-subtitel">
            <div class="field-content">No artifical colours, flavours and aromas</div>
          </div>
        </div>
        <div class="views-row views-row-2 views-row-even">

          <div class="views-field views-field-field-usp-afbeelding">
            <div class="field-content"><img class="svg-img size-thumbnail"
                data-src="https://www.prinspetfoods.com/sites/default/files/svgimg/thumbnail/img-styles/kcfinder/images/Iconen/Groen%20-%20SVG/nederlands.svg.png"
                typeof="foaf:Image" src="./static/assets/images/svg/nederlands.svg" width="100" height="78" alt="">
            </div>
          </div>
          <div class="views-field views-field-field-usp-titel">
            <div class="field-content">Dutch family company</div>
          </div>
          <div class="views-field views-field-field-usp-subtitel">
            <div class="field-content">Quality, knowledge and experience since 1963</div>
          </div>
        </div>
        <div class="views-row views-row-3 views-row-odd">

          <div class="views-field views-field-field-usp-afbeelding">
            <div class="field-content"><img class="svg-img size-thumbnail"
                data-src="https://www.prinspetfoods.com/sites/default/files/svgimg/thumbnail/img-styles/kcfinder/images/Iconen/Groen%20-%20SVG/dierproefvrij.svg.png"
                typeof="foaf:Image" src="./static/assets/images/svg/dierproefvrij.svg" width="100" height="78" alt="">
            </div>
          </div>
          <div class="views-field views-field-field-usp-titel">
            <div class="field-content">Not tested on animals</div>
          </div>
          <div class="views-field views-field-field-usp-subtitel">
            <div class="field-content">We stand for animal welfare</div>
          </div>
        </div>
        <div class="views-row views-row-4 views-row-even views-row-last">

          <div class="views-field views-field-field-usp-afbeelding">
            <div class="field-content"><img class="svg-img size-thumbnail"
                data-src="https://www.prinspetfoods.com/sites/default/files/svgimg/thumbnail/img-styles/kcfinder/images/Iconen/Groen%20-%20SVG/ideeen.svg.png"
                typeof="foaf:Image" src="./static/assets/images/svg/ideeen.svg" width="100" height="78" alt=""></div>
          </div>
          <div class="views-field views-field-field-usp-titel">
            <div class="field-content">Innovative</div>
          </div>
          <div class="views-field views-field-field-usp-subtitel">
            <div class="field-content">We aim to renew and surprise</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>