<div class="field field-name-title-field field-type-text field-label-hidden">
  <div class="field-items">
    <div class="field-item even">
      <h1>Prins, natural food for dogs and cats.</h1>
    </div>
  </div>
</div>
<div class="field field-name-body field-type-text-with-summary field-label-hidden">
  <div class="field-items">
    <div class="field-item even" property="content:encoded">
      <p class="rtecenter">At Prins we have&nbsp;a passion for&nbsp;animals. Developing tailor-made,&nbsp;high quality,
        100% natural cat and dog food is our specialty, improving the well-being of animals our mission.&nbsp;</p>
      <p class="rtecenter">&nbsp;</p>
    </div>
  </div>
</div>
