<div class="header-interactive">
  <div class="region region-header">
<div id="block-views-category-header-block" class="block block-views">


<div class="content">
<div class="view view-category-header view-id-category_header view-display-id-block view-dom-id-dc8faf9518b08707e30f36c7c60be8d2">



<div class="view-content">
<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

<div class="views-field views-field-field-startafbeelding">        <div class="field-content"><div class="home-bg-image" style="background-image: url('/static/assets/images/products/cat/1900/VitalCare%20Protection-Adult%20fit_0_0.jpg');background-size:cover;opacity:0.7;"></div>
</div>  </div>  
<div class="views-field views-field-description-1">        <div class="field-content"><h1>{{title_s}}</h1>
<p>Extra support for all cats: from kittens to seniors</p>

<a href="#" class="product-list">View all products</a></div>  </div>  
<div class="views-field views-field-field-vimeo-video">        <div class="field-content"><video src="https://player.vimeo.com/external/196546022.hd.mp4?s=e90b7bbaa79987a7df4d6f731dc05a70424e946e&amp;profile_id=174" frameborder="0" width="100%" height="650" id="vimeo-player" loop="" muted=""><source src="https://player.vimeo.com/external/196546022.hd.mp4?s=e90b7bbaa79987a7df4d6f731dc05a70424e946e&amp;profile_id=174" type="video/mp4"></video></div>  </div>  </div>
</div>






</div>  </div>
</div>
</div>
</div>