<div class="header-interactive">
  <div class="region region-header">
<div id="block-views-category-header-block" class="block block-views">


<div class="content">
<div class="view view-category-header view-id-category_header view-display-id-block view-dom-id-1025ffaf28c193b27b804148006c5fa5">



<div class="view-content">
<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

<div class="views-field views-field-field-startafbeelding">        <div class="field-content"><div class="home-bg-image" style="background-image: url('/static/assets/images/products/cat/1900/20150825-131553-RX257948_0_0.jpg');background-size:cover;opacity:0.7;"></div>
</div>  </div>  
<div class="views-field views-field-description-1">        <div class="field-content"><h1>{{title_s}}</h1>
<p>100% natural meat-based meals for cats</p>

<a href="#" class="product-list">View all products</a></div>  </div>  
<div class="views-field views-field-field-vimeo-video">        <div class="field-content"><video src="https://player.vimeo.com/external/198840704.hd.mp4?s=7aa3f1aaf82888ab7b76fd70b335b378bbe552d3&amp;profile_id=174" frameborder="0" width="100%" height="650" id="vimeo-player" loop="" muted=""><source src="https://player.vimeo.com/external/198840704.hd.mp4?s=7aa3f1aaf82888ab7b76fd70b335b378bbe552d3&amp;profile_id=174" type="video/mp4"></video></div>  </div>  </div>
</div>






</div>  </div>
</div>
</div>
</div>