<div class="header-interactive">
  <div class="region region-header">
<div id="block-views-category-header-block" class="block block-views">


<div class="content">
<div class="view view-category-header view-id-category_header view-display-id-block view-dom-id-382ee562d5ab73a0210c239f73224b7b">



<div class="view-content">
<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

<div class="views-field views-field-field-startafbeelding">        <div class="field-content"><div class="home-bg-image" style="background-image: url('/static/assets/images/products/dog/1900/ProCare%20Protection-Sterilised_0.jpg');background-size:cover;opacity:0.7;"></div>
</div>  </div>  
<div class="views-field views-field-description-1">        <div class="field-content"><h1>{{title_s}}</h1>
<p>Extra support for small dogs,<br>
from puppy to&nbsp;senior</p>

<a href="#" class="product-list">הצג את כל המוצרים</a></div>  </div>  
<div class="views-field views-field-field-vimeo-video">        <div class="field-content"><video src="https://player.vimeo.com/external/198840679.sd.mp4?s=1b008a83450676db32f2ac16066fef3c6d5e9cb7&amp;profile_id=165" frameborder="0" width="100%" height="650" id="vimeo-player" loop="" muted=""><source src="https://player.vimeo.com/external/198840679.sd.mp4?s=1b008a83450676db32f2ac16066fef3c6d5e9cb7&amp;profile_id=165" type="video/mp4"></video></div>  </div>  </div>
</div>






</div>  </div>
</div>
</div>
</div>