<div class="header-interactive">
  <div class="region region-header">
<div id="block-views-category-header-block" class="block block-views">


<div class="content">
<div class="view view-category-header view-id-category_header view-display-id-block view-dom-id-88b2d56eda23680a24f349d2a61a1099">



<div class="view-content">
<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

<div class="views-field views-field-field-startafbeelding">        <div class="field-content"><div class="home-bg-image" style="background-image: url('https://www.prinspetfoods.com/sites/default/files/styles/1900x800/public/ProCare---Senior-support.jpg?itok=e865W9fW&amp;c=35397fc83fccc5e029861af3f4ea4454');background-size:cover;opacity:0.7;"></div>
</div>  </div>  
<div class="views-field views-field-description-1">        <div class="field-content"><h1>Prins Fit Selection</h1>
<p>100% natural, crunchy food for your family dog</p>

<a href="#" class="product-list">View all products</a></div>  </div>  
<div class="views-field views-field-field-vimeo-video">        <div class="field-content"><video src="https://player.vimeo.com/external/196546000.hd.mp4?s=b3684e6e9dd5e23690f33a015a5d73688eaf484a&amp;profile_id=174" frameborder="0" width="100%" height="650" id="vimeo-player" loop="" muted=""><source src="https://player.vimeo.com/external/196546000.hd.mp4?s=b3684e6e9dd5e23690f33a015a5d73688eaf484a&amp;profile_id=174" type="video/mp4"></video></div>  </div>  </div>
</div>






</div>  </div>
</div>
</div>
</div>