
#header nav .logobar {
  float: right;
}
#header nav .main-menu {
  float: left;
}
.toggle {
  right: auto;
  left: 0;
}
/* .navigation-spanner {
  display: flex;
} */
#header nav .main-menu .block-search {
  left: 56px;
  right: auto;
}
#header nav .main-menu #block-system-main-menu {
  left: 0;
  right: auto;
  max-width: 400px;
}
@media (min-width: 1024px) {
  #header nav .main-menu #block-system-main-menu {
    right: auto;
    left: auto;
    position: relative;
    margin-left: 40px;
  }
  #header nav .main-menu .block-search {
    left: 0;
  }
  #header nav .main-menu #block-system-main-menu { 
    max-width: none;
  }
}
#header nav .main-menu .menu-name-menu-second-main-menu .menu,
#header nav .main-menu .block-locale.active, #header nav .main-menu .block-extra-locale.active {
  display: none;
}



.toggle.is-active span {
  background-color: #fff !important;
}
.block-menu-block {
  display: none;
}
.copyright #logo-footer {
  float: right;
}
#header nav .main-menu .menu li {
  float: right;
}
.hero {
  padding: 50px 0;
  color: #fff;
  background-color: #285c4d;
  text-align: center;
}
.hero h1 {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 44px;
}
.hero p {
  font-size: 20px;
  line-height: 34px;
  padding: 0 15px;
  box-sizing: border-box;
}
.hero .field-items {
  max-width: 850px;
  margin: 0 auto;
}

.second-main {
  padding: 50px 0;
}

/* .second-main * + * {
  margin-top: 15px;
} */
.second-main h2 {
  margin-top: 40px;
  font-size: 2.0em;
  line-height: 1.2em;
  color: #285c4d;
}

.copyright .region-copyright .menu, .copyright .block .menu {
  column-count: 1;
    -webkit-column-count: 1;
}

.copyright .social-icons ul li a.icon {
  border-radius: 50%;
  border: 2px solid #96c100;
}
.copyright .social-icons {
  clear: both;
  float: left;
}


#header nav .main-menu .menu li .menu li a.menu_icon.menu-508:before, #header nav .main-menu .menu li .menu li a.menu_icon.menu-590:before {
  background-image: url(/static/assets/images/menu/submenu-kat.png);
}
#header nav .main-menu .menu li .menu li a.menu_icon:before {
  background-image: url(/static/assets/images/menu/submenu-hond.png);
}
#header nav .main-menu .menu li .menu li a.menu_icon.menu-510:before {
  background-image: url(/static/assets/images/menu/submenu-voedingswijzer.png);
}
#header nav .main-menu .menu li .menu li a.menu_icon.menu-508:before, #header nav .main-menu .menu li .menu li a.menu_icon.menu-590:before,
#header nav .main-menu .menu li .menu li a.menu_icon:before,
#header nav .main-menu .menu li .menu li a.menu_icon.menu-510:before {
  margin-left: 5px;
}

.copyright .social-icons ul li a.icon.icon-facebook {
  background-image: url(/static/assets/images/menu/icon-facebook.png);
}
#header nav .main-menu .block-search .form-actions input[type="submit"] {
  background-image: url(/static/assets/images/menu/icon-search.png);
}
.page-taxonomy-term .view-productlijn-overzicht li:before {
  background-image: url(/static/assets/images/menu/list-icon.png);
  right: -25px;
  left: auto;
}
.product-voedingswaarde {
  background-image: url(/static/assets/images/menu/weight-icon.png);
}
.page-taxonomy-term .view-productlijn-overzicht .views-row .views-field-field-product-afbeelding {
  float: left;
}
.page-taxonomy-term .view-productlijn-producten .view-content .views-row {
  float: right;
}
h2.resp-accordion {
  color: #fff;
  padding: 20px 10px 0 10px;
}
.node-type-product .main-spanner #group-foodinfo-node-product-default .resp-tab-content:nth-child(2) .field {
  width: auto;
  float: none;
}
/* .field.field-name-field-table-mineralen.field-type-tablefield.field-label-hidden {
  width: 100%;
} */
@media (min-width: 768px) {
  .node-type-product .main-spanner #group-foodinfo-node-product-default .resp-tab-content .field table {
    width: calc(33% - 20px);
    float: right;
    margin: 10px; 
  }
}
.field-name-field-samenstelling.field-type-text-long {
  clear: both;
}

.node-type-product .header-interactive .view-header-producten .views-field-field-product-afbeelding {
  left: 50%;
  margin-right: 0;
  margin-left: -50%;
  width: 50%;
  max-width: 600px;
}
.node-type-product .header-interactive .view-header-producten .product-titel .views-field {
  padding-right: 0;
  padding-left: 30%;
}
.node-type-product .header-interactive .view-header-producten .views-field-field-detailpagina-titel, .node-type-product .header-interactive .view-header-producten .views-field-title {
  text-align: right;
}
.node-type-product .header-interactive .view-header-producten .views-field-name a:before {
  margin-right: 0;
  margin-left: 10px;
}

.node-type-product .main-spanner .group-subbox .field-name-field-subafbeelding:before {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}
.node-type-product .main-spanner .group-subbox .field {
  float: left;
  clear: none;
}
.node-type-product .main-spanner .group-subbox .field-name-field-subafbeelding img {
  float: right;
}
.node-type-product .main-spanner .group-subbox {
  background: #98c010 url(/static/assets/images/menu/samenstelling-bg.png) right center no-repeat; 
  background-size: 50% 100%;
}
.resp-tab-item {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media (max-width: 1079px) {
  #header .view-home-header video {
      display: none;
  }
}