
#header nav .logobar {
  float: right;
}
#header nav .main-menu {
  float: left;
}
.toggle {
  right: auto;
  left: 0;
}
@media (min-width: 1024px) {
  .navigation-spanner {
    display: flex;
  }
  .logobar {
    margin-left: 40px;
  }
  #header nav .main-menu {
    float: none;
    flex-grow: 1;
  }
  .region.region-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
#header nav .main-menu .block-search {
  left: 56px;
  right: auto;
}
#header nav .main-menu #block-system-main-menu {
  left: 0;
  right: auto;
  max-width: 400px;
}
@media (min-width: 1024px) {
  #header nav .main-menu #block-system-main-menu {
    right: auto;
    left: auto;
    position: relative;
    margin-left: 40px;
  }
  #header nav .main-menu .block-search {
    left: 0;
  }
  #header nav .main-menu #block-system-main-menu { 
    max-width: none;
  }
}
#header nav .main-menu .menu-name-menu-second-main-menu .menu,
#header nav .main-menu .block-locale.active, #header nav .main-menu .block-extra-locale.active {
  display: none;
}



.toggle.is-active span {
  background-color: #fff !important;
}
.block-menu-block {
  display: none;
}
.copyright #logo-footer {
  float: right;
}
#header nav .main-menu .menu li {
  float: right;
}
.hero {
  padding: 50px 0;
  color: #fff;
  background-color: #285c4d;
  text-align: center;
}
.hero h1 {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 44px;
}
.hero p {
  font-size: 20px;
  line-height: 34px;
  padding: 0 15px;
  box-sizing: border-box;
}
.hero .field-items {
  max-width: 850px;
  margin: 0 auto;
}

.second-main {
  padding: 50px 0;
}

/* .second-main * + * {
  margin-top: 15px;
} */
.second-main h2 {
  margin-top: 40px;
  font-size: 2.0em;
  line-height: 1.2em;
  color: #285c4d;
}

.copyright .region-copyright .menu, .copyright .block .menu {
  column-count: 1;
    -webkit-column-count: 1;
}

.copyright .social-icons ul li a.icon {
  border-radius: 50%;
  border: 2px solid #96c100;
}
.copyright .social-icons {
  clear: both;
  float: left;
}


#header nav .main-menu .menu li .menu li a.menu_icon.menu-508:before, #header nav .main-menu .menu li .menu li a.menu_icon.menu-590:before {
  background-image: url(/static/assets/images/menu/submenu-kat.png);
}
#header nav .main-menu .menu li .menu li a.menu_icon:before {
  background-image: url(/static/assets/images/menu/submenu-hond.png);
}
#header nav .main-menu .menu li .menu li a.menu_icon.menu-510:before {
  background-image: url(/static/assets/images/menu/submenu-voedingswijzer.png);
}
#header nav .main-menu .menu li .menu li a.menu_icon.menu-508:before, #header nav .main-menu .menu li .menu li a.menu_icon.menu-590:before,
#header nav .main-menu .menu li .menu li a.menu_icon:before,
#header nav .main-menu .menu li .menu li a.menu_icon.menu-510:before {
  margin-left: 5px;
}

.copyright .social-icons ul li a.icon.icon-facebook {
  background-image: url(/static/assets/images/menu/icon-facebook.png);
}
#header nav .main-menu .block-search .form-actions input[type="submit"] {
  background-image: url(/static/assets/images/menu/icon-search.png);
}
.page-taxonomy-term .view-productlijn-overzicht li:before {
  background-image: url(/static/assets/images/menu/list-icon.png);
  right: -25px;
  left: auto;
}
.product-voedingswaarde {
  background-image: url(/static/assets/images/menu/weight-icon.png);
}
.page-taxonomy-term .view-productlijn-overzicht .views-row .views-field-field-product-afbeelding {
  float: left;
}
.page-taxonomy-term .view-productlijn-producten .view-content .views-row {
  float: right;
}
h2.resp-accordion {
  color: #fff;
  padding: 20px 10px 0 10px;
}
.node-type-product .main-spanner #group-foodinfo-node-product-default .resp-tab-content:nth-child(2) .field {
  width: auto;
  float: none;
}
/* .field.field-name-field-table-mineralen.field-type-tablefield.field-label-hidden {
  width: 100%;
} */
/* @media (min-width: 768px) {
  .node-type-product .main-spanner #group-foodinfo-node-product-default .resp-tab-content .field table {
    width: calc(33% - 20px);
    float: right;
    margin: 10px; 
  }
} */
.field-name-field-samenstelling.field-type-text-long {
  clear: both;
}
@media (min-width: 980px) {
  .node-type-product .header-interactive .view-header-producten .views-field-field-product-afbeelding {
    left: 50%;
    margin-right: 0;
    margin-left: -50%;
    width: 50%;
    max-width: 600px;
  }
  .node-type-product .header-interactive .view-header-producten .product-titel .views-field {
    padding-right: 0;
    padding-left: 30%;
  }
}

.node-type-product .header-interactive .view-header-producten .views-field-field-detailpagina-titel, .node-type-product .header-interactive .view-header-producten .views-field-title {
  text-align: right;
}
.node-type-product .header-interactive .view-header-producten .views-field-name a:before {
  margin-right: 0;
  margin-left: 10px;
}

.node-type-product .main-spanner .group-subbox .field-name-field-subafbeelding:before {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}
@media (max-width: 1023px) {
  .node-type-product .main-spanner .group-subbox .field-name-field-subafbeelding:before {
    display: none;
  }
}
.node-type-product .main-spanner .group-subbox .field {
  float: left;
  clear: none;
}
.node-type-product .main-spanner .group-subbox .field-name-field-subafbeelding img {
  float: right;
}
.node-type-product .main-spanner .group-subbox {
  background: #98c010 url(/static/assets/images/menu/samenstelling-bg.png) right center no-repeat; 
  background-size: 50% 100%;
}
.resp-tab-item {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media (max-width: 1079px) {
  #header .view-home-header video {
      display: none;
  }
}

.page-taxonomy-term .view-category-header .views-field-description-1 .field-content a.product-list {
    background-image: url(/static/assets/images/menu/grid-small.png);
    background-repeat: no-repeat;
    padding-left: 15px !important;
    padding-right: 34px !important;
    background-size: 15px 15px;
    background-position: right 12px center;
}
.container {
  max-width: 980px;
  margin: 0 auto 20px;
  position: relative;
}
.page-search h2 {
  text-align: initial;
  font-weight: 700;
}
.node-type-product .home-bg-image {
  background-size:cover;opacity:0.7;
}
.node-type-product .header-interactive .view-header-producten .views-field-name a:hover:before {
  padding-right: 0;
  padding-left: 5px;
}

.row {
  display: flex;
  flex-direction: column;
  margin-right: -15px;
  margin-left: -15px;
}
.col-6 {
  flex-basis: 50%;
  margin-left: 15px;
  margin-right: 15px;
}
.field-name-field-table-amount table {
  width: 100%; 
}
.page-taxonomy-term .vocabulary-product-category .field-name-field-product-afbeelding .field-item.even{
  padding: 40px 80px 0 80px;
}
@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
  .page-taxonomy-term .vocabulary-product-category .field-name-field-product-afbeelding .field-item.even{
    padding-top: 0;
  }
}
.page-taxonomy-term .vocabulary-product-category .field-name-field-product-afbeelding img {
  max-width: 380px;
}

@media (max-width: 768px) {
  .node-type-product .main-spanner #group-foodinfo-node-product-default ul.resp-tabs-list {
    display: block;
  }
  .node-type-product .main-spanner #group-foodinfo-node-product-default ul.resp-tabs-list li {
    font-size: 14px;
  }
  .node-type-product .main-spanner #group-foodinfo-node-product-default .resp-tab-content {
    padding-top: 30px;
  }
}
 .node-type-product .main-spanner #group-foodinfo-node-product-default .resp-tab-content .field.field-name-field-table-mineralen p {
  font-size: 16px;
}
.page-taxonomy-term .view-productlijn-producten {
  padding-top: 40px;
}
.productline-intro {
  background-color: #eee;
  padding-bottom: 60px;
}
/* 
.node-type-product .main-spanner .node-product .content > .group-foodinfo > h2,
.node-type-product .main-spanner #group-foodinfo-node-product-default ul.resp-tabs-list li,
.node-type-product .main-spanner #group-foodinfo-node-product-default ul.resp-tabs-list {
  background-color: #eee;
} */
#header nav .main-menu .menu li:first-child {
  margin-left: 15px;
}
.node-type-product .main-spanner .field-name-body {
  margin-top: 180px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 980px) {
.node-type-product .main-spanner .field-name-body {
  margin: 100px auto 60px;
}
}

@media (min-width: 768px) {
  .page-layout-categories .views-field-nothing p {
    padding-left: 30px;
  }
}

.page-taxonomy-term .vocabulary-product-category .field-name-field-opsomming-voordelen .field-item {
  background-image: url(/static/assets/images/menu/samenstelling-list-item.png);
  background-position: right;
  padding: 17px 65px 17px 0;
}
.page-taxonomy-term .vocabulary-product-category .field-name-field-opsomming-voordelen .field-item {
  border-bottom-color: #b6d7cd;
}
.bg-green {
  background-color: #e3edea;
}
.text-center {  
  text-align: center;
}

#header .view-home-header .views-field-field-video-titel {
  top: 50px;
}
#header .view-header-animal-choice {
  top: 340px;
}
@media (max-width: 667px) {
  .node-type-home #header .view-home-header .views-field-field-video-titel {
    top: 50px;
  }
  #header .view-home-header .views-field-field-video-titel .field-content {
    line-height: 78px;
  }
  .node-type-home #header .view-home-header .view-header-animal-choice {
    top: 350px !important;
  } 
}

/* product quality box */
.node-type-product .main-spanner .group-subbox .subcontent-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
} 
.node-type-product .main-spanner .group-subbox .field.field-name-field-subafbeelding.field-type-image.field-label-hidden.fade-in {
  width: 100%;
}
.node-type-product .main-spanner .group-subbox .field-group-format-wrapper {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.node-type-product .main-spanner .group-subbox .field-group-format-wrapper > div {
  flex-basis: 50%;
  height: 100%;
  flex-grow: 1;
}
.node-type-product .main-spanner .group-subbox .field {
  width: auto;
  height: 100%;
  display: flex;
  align-self: center;
}
.node-type-product .main-spanner .group-subbox * {
  float: none !important;
}
.node-type-product .main-spanner .group-subbox .field-name-field-subafbeelding img {
  line-height: 0;
}
.node-type-product .main-spanner .group-subbox .subbox-image-background {
  padding-bottom: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 0;
  width: 100%;
}
@media (min-width: 980px) {
  .node-type-product .main-spanner .group-subbox .field-group-format-wrapper {
    flex-direction: row-reverse;
  }
  .node-type-product .main-spanner .group-subbox .subbox-image-background {
    padding-bottom: 100%;
  }
}
@media (min-width: 1080px) {
  .node-type-product .main-spanner .group-subbox .subbox-image-background {
    padding-bottom: 66%;
  }
  
}
@media (min-width: 1600px) {
  .node-type-product .main-spanner .group-subbox .subbox-image-background {
    padding-bottom: 0;
    height: 400px;
  }
  .node-type-product .main-spanner .group-subbox .field.field-name-field-subafbeelding.field-type-image.field-label-hidden.fade-in {
    max-height: 400px;
    overflow: hidden;
  }
}
.copyright {
  height: auto;
  min-height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 1023px) {
  .copyright {
    height: auto;
    min-height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .copyright .region-copyright {
    width: auto;
  }
}
.copyright #logo-footer {
  margin-top: 0;
}
.copyright .social-icons {
  display: none;
}
@media (max-width: 667px) {

  .copyright .region-copyright {
    width: 100%;
  }
  .copyright .region-copyright .menu li, .copyright .region-copyright .block .menu li {
    text-align: center;
  }
  .copyright #logo-footer,
  .copyright .block {
    float: none;
  }
  
}