<div class="field-collection-container clearfix">
  <div class="field field-name-field-usp-s field-type-field-collection field-label-hidden">
    <div class="field-items">
      <div class="field-item even">
        <div class="field-collection-view clearfix view-mode-full">
          <div about="https://www.prinspetfoods.com/field-collection/field-usp-s/1336" typeof="">
            <div class="content">
              <div
                class="field field-name-field-usp-afbeelding field-type-image field-label-hidden pop-up">
                <div class="field-items">
                  <div class="field-item even"><img class="svg-img size-"
                      src="/static/assets/images/svg/hond-opgroeien.svg"
                      width="1024" height="800" alt=""></div>
                </div>
              </div>
              <div class="field field-name-field-usp-titel field-type-text field-label-hidden">
                <div class="field-items">
                  <div class="field-item even">Growing dogs</div>
                </div>
              </div>
              <div
                class="field field-name-field-usp-subtitel field-type-text-long field-label-hidden">
                <div class="field-items">
                  <div class="field-item even">Proteins contribute to the development of muscle
                    mass while an adjusted calcium and phosphor content supports a healthy
                    skeletal structure
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field-item odd">
        <div class="field-collection-view clearfix view-mode-full">
          <div about="https://www.prinspetfoods.com/field-collection/field-usp-s/1337" typeof="">
            <div class="content">
              <div
                class="field field-name-field-usp-afbeelding field-type-image field-label-hidden">
                <div class="field-items">
                  <div class="field-item even"><img class="svg-img size-"
                      src="/static/assets/images/svg/kip.svg"
                      width="1024" height="800" alt=""></div>
                </div>
              </div>
              <div class="field field-name-field-usp-titel field-type-text field-label-hidden">
                <div class="field-items">
                  <div class="field-item even">Rich in chicken</div>
                </div>
              </div>
              <div
                class="field field-name-field-usp-subtitel field-type-text-long field-label-hidden">
                <div class="field-items">
                  <div class="field-item even">Carefully selected ingredients create a tasty meal
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field-item even">
        <div class="field-collection-view clearfix view-mode-full field-collection-view-final">
          <div about="https://www.prinspetfoods.com/field-collection/field-usp-s/1338" typeof="">
            <div class="content">
              <div
                class="field field-name-field-usp-afbeelding field-type-image field-label-hidden">
                <div class="field-items">
                  <div class="field-item even"><img class="svg-img size-"
                      src="/static/assets/images/svg/hoog-vetgehalte.svg"
                      width="1024" height="800" alt=""></div>
                </div>
              </div>
              <div class="field field-name-field-usp-titel field-type-text field-label-hidden">
                <div class="field-items">
                  <div class="field-item even">High fat content for junior dogs</div>
                </div>
              </div>
              <div
                class="field field-name-field-usp-subtitel field-type-text-long field-label-hidden">
                <div class="field-items">
                  <div class="field-item even">Contains an increased fat content to meet the needs
                    of junior dogs while L-carnitine stimulates optimal fat burning
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
