<p>רכיבים:</p>
<p>
    אורז, שרימפס מיובש (16%), חלבון תפו"א (16%), שומן מן החי (עוף ובקר), אבקת סלק, תפוח עץ מיובש, שמן סלמון (2.5%), הידרוליזט כבד עוף, מינרלים (אשלגן כלורי, מונוקלציום פוספט), מנן- אוליגוסכרידים (0.5%), סיבים תזונתיים (אינולין) (0.5%).
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטיניל אצטט) 16000 יב"ל, ויטמין D (כולקלציפרול) 1600 יב"ל, ויטמין E (אלפא-טוקופריל אצטט) 600 מ"ג, טאורין 2900 מ"ג, ברזל (ברזל II סולפט מונוהידרט) 100 מ"ג, יוד (קלציום יודיד) 1 מ"ג, נחושת (נחושת II סולפט פנטהידרט) 5 מ"ג, מנגן (מנגן II אוקסיד) 40 מ"ג, אבץ (זינק סולפט מונוהידרט) 145 מ"ג, סלניום (סודיום סלניט) 0.2 מ"ג. תוסף זוטכני: אמוניום כלוריד (5 גרם). מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>