<p>רכיבים:</p>
<p>
    עוף מיובש, תירס, שומנים מן החי (עוף, בקר), גלוטן תירס, אורז, ביצה שלמה מיובשת, עולש מיובש, מיצוי חלבונים מן החי, הידרוליזט כבד עוף, שמן פשתן, הידרוליזט שמרים, שמן סלמון (0.5%), מלח, פרוקטו- אוליגוסכרידים.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטיניל אצטט) 25.000 יב"ל, ויטמין D (כולקלציפרול) 2.000 יב"ל, ויטמין E (אלפא-טוקופרול אצטט) 150 מ"ג, טאורין 2500 מ"ג, ברזל (ברזל סולפט מונוהידרט) 80 מ"ג, יוד (פוטסיום יודיד) 1 מ"ג, נחושת (נחושת סולפט פנטהידרט) 10 מ"ג, מנגן (מנגן אוקסיד) 30 מ"ג, אבץ (זינק סולפט מונוהידרט) 100 מ"ג, סלניום (סודיום סלניט) 0.2 מ"ג. תוסף טכנולוגי: לציטין (5 גרם). מכיל נוגדי חמצון וחומרים משמרים טבעיים
</p>