<p>רכיבים:</p>
<p>
    תירס, עוף מיובש, גלוטן תירס, שומן מן החי (עופות ובקר), אורז, ביצה מיובשת, עולש מיובש, הידרוליזט כבד עוף, שמן זרעי פשתן, הידרוליזט שמרים, שמן סלמון (0.5%), הידרוליזט שמרים (מקור לבטא- גלוקנים) (0.05%), פרוקטו- אוליגוסכרידים.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטיניל אצטט) 25000 יב"ל, ויטמין D (כולקלציפרול) 2000 יב"ל, ויטמין E (אלפא-טוקופרול אצטט) 150 מ"ג, טאורין 2500 מ"ג, ברזל (ברזל סולפט מונוהידרט) 80 מ"ג, יוד (פוטסיום יודיד) 1 מ"ג, נחושת (נחושת סולפט פנטהידרט) 10 מ"ג, מנגן (מנגן אוקסיד) 30 מ"ג, אבץ (זינק סולפט מונוהידרט) 100 מ"ג, סלניום (סודיום סלניט) 0.2 מ"ג. תוסף טכנולוגי: לציטין (5 גרם). תוסף זוטכני: אמוניום כלוריד (5 גרם). מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>