<p>רכיבים:</p>
<p>
    אורז, עוף מיובש, חלבון תפו"א, שומן עוף, גלוטן תירס, שמן סלמון (5%), סלק, מינרלים (אשלגן כלורי, קלציום קרבונט, נתרן כלורי), הידרוליזט כבד עוף, שומן צמחי.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטיניל אצטט) 18000 יב"ל, ויטמין D (כולקלציפרול) 1800 יב"ל, ויטמין E (אלפא-טוקופרול אצטט) 125 מ"ג, טאורין 1500 מ"ג, ברזל (ברזל II סולפט מונוהידרט) 110 מ"ג, יוד (קלציום יודיד) 1 מ"ג, מנגן (מנגן II אוקסיד) 40 מ"ג, אבץ (זינק סולפט מוד נוהידרט) 165 מ"ג. מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>