<p>רכיבים:</p>
<p>
    עוף מיובש, תירס, גלוטן תירס, אורז, שומנים מן החי (עוף, בקר), עולש מיובש, ביצה מיובשת, דג מיובש, צלולוז, הידרוליזט כבד עוף, הידרוליזט שמרים, שמן סלמון (0.5%), פרוקטו- אוליגוסכרידים.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטיניל אצטט) 25.000 יב"ל, ויטמין D (כולקלציפרול) 2.000 יב"ל, ויטמין E (אלפא-טוקופרול אצטט) 150 מ"ג, טאורין 2500 מ"ג, ברזל (ברזל סולפט מונוהידרט) 80 מ"ג, יוד (פוסטדיום יודיד) 1 מ"ג, נחושת (נחושת סולפט פנטהידרט) 10 מ"ג, מנגן (מנגן אוקסיד) 30 מ"ג, אבץ (זינק סולפט מונוהידרט) 100 מ"ג, סלניום (סודיום סלניט) 0.2 מ"ג. תוסף טכנולוגי: לציטין (5 גרם). תוסף זוטכני: אמוניום כלוריד (5 גרם). מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>