<p>רכיבים:</p>
<p>
    הידרוליזט דג סלמון, תירס, אורז, שומן עוף, הידרוליזט כבד עוף, דיקלציום פוספט, אשלגן כלורי, שמן סלמון, שמן זרעי פשתן, מנן- אוליגוסכרידים (0.5%), נתרן כלורי, כולין כלוריד, קלציום קרבונט, סיבים תזונתיים (אינולין) (0.3%), חיידקים פרוביוטים (אנטרוקוקוס פאציום) (0.02%), תמצית יוקה שידיגרה (0.015%).
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטיניל אצטט) 20000 יב"ל, ויטמין D (כולקלציפרול) 2000 יב"ל, ויטמין E (אלפא-טוקופריל אצטט) 590 מ"ג, ברזל (ברזל סולפט מונוהידרט) 80 מ"ג, יוד (קלציום יודיד) 1.5 מ"ג, נחושת (נחושת סולפט פנטהידרט) 5 מ"ג, מנגן (מנגן סולפט מונוהידרט) 40 מ"ג, אבץ (זינק סולפט מונוהידרט) 90 מ"ג, סלניום (סודיום סלניט) 0.1 מ"ג, טאורין 2000 מ"ג, ל-קרניטין 300 מ"ג, ד-ל-מתיונין 2500 מ"ג. תוסף זוטכני: אמוניום כלוריד (3 גרם). מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>