<p>רכיבים:</p>
<p>
    מיצוי חלבון מהחי (בקר, חזיר), עוף מיובש, שעורה, תירס, צלולוז, גלוטן תירס, סלק מיובש, תפו"א מיובש, שומן מן החי (עוף, בקר), אפונה, תפוח עץ מיובש, שמרים, הידרוליזט כבד עוף, שמן סלמון, סיבים, תזונתיים (אינולין), מינרלים
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A 16000 יב"ל, ויטמין D 1600 יב"ל, ויטמין E 250 מ"ג, ברזל 100 מ"ג, יוד 1 מ"ג, נחושת 5 מ"ג, מנגן 40 מ"ג, אבץ 145 מ"ג, סלניום 0.2 מ"ג, ל-קרטנין 2500 מ"ג, טאורין 2000 מ"ג. תוסף טכנולוגי: לציטין 3 גרם. תוסף זוטכני: אמוניום כלוריד 4.7 גרם. מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>