<p>רכיבים:</p>
<p>
    עוף מיובש (24%), תירס, חיטה, שומן עוף, אורז, אבקת סלק, גלוטן תירס, הידרוליזט כבד עוף, שמן סלמון (0.5%), שמרים, ל-קרניטין, פרוקטו- אוליגו- סכרידים.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטינול אצטט) 15000 יב"ל, ויטמין D (כולקלציפרול) 1500 יב"ל, ויטמין E (אלפא-טוקופרול אצטט) 100 מ"ג, ברזל (ברזל II סולפט מונוהידרט) 50 מ"ג, יוד (פוסטדיום יודיד) 1 מ"ג, נחוו שת 10 מ"ג, מנגן (מנגן סולפט מונוהידרט) 35 מ"ג, אבץ (זינק סולפט מונוהידרט) 100 מ"ג, סלניום (סודיום סלניט) 0.3 מ"ג. מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>