<p>רכיבים:</p>
<p>
    עוף מיובש, מיצוי חלבוון מן החי, צלולוז, תירס, תפוח אדמה מיובש, סלק מיובש, שעורה, תפוח עץ מיובש, שומנים מן החי (עוף, בקר), חלבון תפוח אדמה, שמרים, הידרוליזט כבד עוף, זרעי פשתן, אשלגן כלורי.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (12500 יב"ל), ויטמין D3 (1250 יב"ל), ויטמין E (300 מ"ג), ברזל (ברזל (II) סולפט מונוהידרט) 63 מ"ג, יוד (קלציום יודי, אנהידרוס) 1.1 מ"ג, נחושת (נחושת (II) סולפט פנטהידרט) 11 מ"ג,  מנגן (מנגן (II) אוקסיד) 23 מ"ג, אבץ (אבץ זינק סולפט) 110 מ"ג, סלניום (סודיום סלניט) 0.22 מ"ג, L-קרניטין 250 מ"ג. מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>