<p>רכיבים:</p>
<p>
    לבבות עוף, בשר עוף, קיבת עוף, לבבות בקר, כבד בקר, אורז, תפו"א, חמוציות (3%), שמן סלמון, שמן זרעי פשתן, מינרלים (נתרן כלורי, קלציום כלוריד).
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטיניל אצטט) 5000 יב"ל, ויטמין D (כולקלציפרול) 150 יב"ל, ויטמין E (אלפא-טוקופרול אצטט) 100 מ"ג, יוד (קלציום יודיד) 0.75 מ"ג, מנגן (מנגן II סולפט מונוהידרט) 3 מ"ג, אבץ (זינק סולפט מונוהידרט) 15 מ"ג, סלניום (סודיום סלניט) 0.1 מ"ג. תוסף טכנולוגי: לציטין 1.2 גרם. תוסף זוטכני: אמוניום כלוריד 1.5 גרם.
</p>