<p>רכיבים:</p>
<p>
    תירס, שומן עוף, אורז, גלוטן תירס, שעורה, סלק, שמן סלמון, הידרוליזט כבד עוף, עוף מיובש, קלציום קרבונט, כולין כלוריד, אשלגן כלורי.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטיניל אצטט) 15000 יב"ל, ויטמין D (כולקלציפרול) 1500 יב"ל, ויטמין E (אלפא-טוקופריל אצטט) 500 מ"ג, ברזל (ברזל סולפט מונוהידרט) 50 מ"ג, יוד (פוסטדיום יודיד) 1 מ"ג, נחושת (נחושת סולפט פנטהידרט) 10 מ"ג, מנגן (מנגן סולפט מונוהידרט) 36 מ"ג, אבץ (זינק סולפט מונוהידרט) 100 מ"ג. תוסף טכנולוגי: לציטין 5 גרם. מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>