<p>רכיבים:</p>
<p>
    אורז, ברווז מיובש (26%), שומן מן החי, אבקת סלק, שמן סלמון, מינרלים (מונוקלציום פוספט, נתרן כלורי, אשלגן כלורי), זרעי פשתן, מנן- אוליגוסכרידים (0.5%), סיבים תזונתיים (אינולין) (0.5%), הידרוליזט כבד.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (12500 יב"ל), ויטמין D3 (1250 יב"ל), ויטמין E (400 מ"ג), ברזל (ברזל (II) סולפט מונוהידרט) 63 מ"ג, יוד (קלציום יודי, אנהידרוס) 1.1 מ"ג, נחושת (נחושת (II) סולפט פנטהידרט) 11 מ"ג, מנגן (מנגן (II) אוקסיד) 23 מ"ג, אבץ (זינק סולפט מונוהידרט) 110 מ"ג, סלניום (סודיום סלניט) 0.2 מ"ג.
</p>