<p>רכיבים:</p>
<p>
    חיטה, תירס, עוף מיובש (14%), אורז, שומן עוף, גלוטן תירס, סלק (4%), דורה, הידרוליזט כבד עוף, ליגנוצלולוז, מינרלים [אשלגן כלורי, הקסה מטה פוספט (0.5%)], שמן סלמון (0.6%), שמרים סיבים תזונתיים (אינולין) (0.3%), תמציות צמחים ומלחים (0.05%) (אקנטופנקס, ג'ינסנג סיבירי, שורש קרד, יאם, תות עץ, זרעי כשות, קורקולינגו, פוליגונטום, עוזרר, שזיף כהה, קנידיום, גומא, תערובת מלחים), גלוקוזאמין, כונדרואיטין, תמצית יוקה שידיגרה.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (15000 יב"ל), ויטמין D (1500 יב"ל), ויטמין E (250 מ"ג), ויטמין C (200 מ"ג), ל-קרטנין 500 מ"ג, טאורין 750 מ"ג, ברזל 50 מ"ג, יוד 1 מ"ג, נחושת 10 מ"ג, מנגן 35 מ"ג, אבץ 100 מ"ג, סלניום 0.3 מ"ג. טעם וריח: גדילן מצוי 50 מ"ג. פרוביוטיקה: בצילוס סבטיליס די.אס.אם 10 יחידות. נוגדי חמצון: תמציות טוקופרול משמנים צמחיים.
</p>