<p>רכיבים:</p>
<p>
    עוף מיובש (23%), חיטה, תירס, גלוטן תירס, סלק (6%), דורה, ליגנוצלולוז (5.3%), שומן עוף, הידרוליזט כבד עוף, שמן סלמון (0.6%), מינרלים [אשלגן כלורי, הקסה מטא פוספט (0.5%)], שמרים, סיבים תזונתיים (אינולין) (0.3%), תמציות צמחים ומלחים (0.05%) (אקנטופנקס, ג'ינסנג סיבירי, קורנו סרווי דגלטינטום, תות עץ, שזיף כהה, קנידיום, גומא, פוליגונטום, תערובת מלחים), גלוקוזאמין, כונדרואיטין, תמצית יוקה שידיגרה.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטינול אצטט) 15000 יב"ל, ויטמין D (כולקלציפרול) 1500 יב"ל, ויטמין E (אלפא-טוקופרול אצטט) 250 מ"ג, ויטמין C (200 מ"ג), טאורין 750 מ"ג, ל-קרטנין 500 מ"ג, ברזל (ברזל סולפט מונוהידרט) 50 מ"ג, יוד (פוסטדיום יודיד) 1 מ"ג, נחושת (נחושת סולפט פנטהידרט) 10 מ"ג, מנגן (מנגן אוקסיד) 35 מ"ג, אבץ (זינק סולפט מונוהידרט) 100 מ"ג, סלניום (סודיום סלניט) 0.3 מ"ג. תוסף סנסורי: גדילן מצוי 50 מ"ג. מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>