<p>רכיבים:</p>
<p>
    תירס, אורז (25%), בשר טלה מיובש (17%), שומן מהחי, גלוטן תירס, אבקת סלק, ליגנוצלולוז, הידרוליזט כבד, שמן סלמון (0.5%), שמרים, מינרלים (פוטסיום כלוריד), תמצית יוקה שידיגרה (200 מ"ג).
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטינול אצטט) 15.000 יב"ל, ויטמין D (כולקלציפרול) 1500 יב"ל, וימטין E (אלפא-טוקופרול אצטט) 100 מ"ג, ברזל (ברזל(II) סולפט הפטהידרט) 50 מ"ג, יוד (פוסטדיום יודיד) 1 מ"ג, נחושת (נחושת(II) סולפט פנטהידרט) 10 מ"ג, מנגן (מנגן (II) אוקסיד) 35 מ"ג, אבץ (זינק סולפט מונוהידרט) 100 מ"ג, סלניום (סודיום סלניט) 0.3 מ"ג.
</p>