<p>רכיבים:</p>
<p>
    תירס, הידרוליזט דג סלמון (17%), אורז, הידרוליזט כבד, שומן עופות, דיקלציום פוספט, שמן סלמון, אשלגן כלורי, נתרן כלורי, שמן זרעי פשתן, סידן פחמתי, מנן- אוליגוסכרידים (0.5%), סיבים תזונתיים (אינולין) (0.3%), כולין כלוריד, חיידקים פרוביוטים  (אנטרוקוקוס פאציום) (0.02%).
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A: (26000 יב"ל), ויטמין D3 (2000 יב"ל), ויטמין E (600 מ"ג), ברזל (ברזל סולפט מונוהידרט) 50 מ"ג, יוד (קלציום יודי, אנהידרוס) 1.5 מ"ג, נחושת (נחושת סולפט פנטהידרט) 5 מ"ג, מנגן (מנגן אוקסיד) 36 מ"ג, אבץ (זינק סולפט מונוהידרט) 66 מ"ג, L-קרניטין 300 מ"ג. מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>