<p>רכיבים:</p>
<p>
    דגנים, תערובת רכיבים מהחי [עוף מיובש (16.5%), סלמון מיובש (7.5%), גלוקוזאמין, כונדרואיטין], רכיבים מהצומח, שמנים ושומנים [שמן סלמון (0.1%)], שמרים.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטינול אצטט) 17000 יב"ל, ויטמין D (כולקלציפרול) 1500 יב"ל, ויטמין E (אלפא-טוקופרול אצטט) 170 מ"ג, ברזל (ברזל סולפט) 63 מ"ג, יוד (קלציום יודיד) 1.6 מ"ג, נחושת (נחושת II סולפט) 8 מ"ג, מנגן (מנגן סולפט) 4.2 מ"ג, אבץ (זינק סולפט) 89 מ"ג, סלניום (סודיום סלניט) 0.11 מ"ג. מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>