<p>רכיבים:</p>
<p>
    טלה מיובש (18%), תריס, אורז, שומן מן החי, סלק (4%), גלוטן תירס, הידרוליזט כבד עוף, מינרלים [אשלגן כלורי, הקסה מטה פוספט (0.5%)], שמן סלמון (0.6%), שמרים, סיבים תזונתיים (אינולין) (0.3%), ליגנוצלולוז, תמציות צמחים ומלחים בתוספת רכיבי עוף (0.05%) (חלקי קיבה (עוף), ג'ינסנג סיבירי, קורנו סרווי דגלטינטום, תות עץ, שזיף כהה, קנידיום, גומא, פוליגונטום, עוזרר, תערובת מלחים), גלוקוזאמין, כונדרואיטין, תמצית יוקה שידיגרה.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטינול אצטט) (15000 יב"ל), ויטמין D (כולקלציפרול) (1500 יב"ל), ויטמין E (אלפא-טוקופרול אצטט) (250 מ"ג), ויטמין C (200 מ"ג), טאורין 750 מ"ג, ל-קרטנין 500 מ"ג, ברזל (ברזל סולפט פנטהידרט) 10 מ"ג, מנגן (מנגן אוקסיד) 35 מ"ג, אבץ (זינק סולפט מונוהידרט) 100 מ"ג, סלניום (סודיום סלניט) 0.3 מ"ג. תוסף סנסורי: גדילן מצוי 50 מ"ג. מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>