<p>רכיבים:</p>
<p>
    אורז, תירס, מיצוי חלבון מהחי (בקר, חזיר), שומן עוף, שעורה, הידרוליזט כבד עוף, שמן סלמון, נתרן כלורי, אשלגן כלורי, שמן זרעי פשתן, חמוציות (0.5%), סיבים תזונתיים (אינולין), כולין כלוריד, תמצית יוקה שידיגרה.
    <br>
    תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטיניל אצטט) 20000 יב"ל, ויטמין D (כולקלציפרול) 2000 יב"ל, ויטמין E (אלפא-טוקופריל אצטט) 600 מ"ג, ברזל (ברזל סולפט מונוהידרט) 80 מ"ג, יוד (קלציום יודיד) 1.5 מ"ג, נחושת (נחושת סולפט פנטהידרט) 5 מ"ג, מנגן (מנגן סולפט מונוהידרט) 40 מ"ג, אבץ (זינק סולפט מונוהידרט) 90 מ"ג, סלניום (סודיום סלניט) 0.1 מ"ג, טאורין 2000 מ"ג, ל-קרניטין 300 מ"ג, ד-ל-מתיונין 2500 מ"ג. תוסף טכנולוגי: לציטין 5 גרם. תוסף זוטכני: אמוניום כלוריד 3 גרם. מכיל נוגדי חמצון וחומרים משמרים טבעיים.
</p>