<p>רכיבים:</p>

<p>
עוף מיובש (24.5%), תירס, חיטה, אורז (9%), שומן עוף, סלק, הידרוליזט כבד עוף, שמן דגים (0.5%), מינרלים (אשלגן כלורי, נתרן כלורי), שמן סלמון (0.5%), שמרים, תמצית יוקה שידיגרה (0.1%). 
<br>
תוספים/ק"ג: תוספים תזונתיים: ויטמין A (רטינול אצטט) 15000 יב"ל, ויטמין D (כולקלציפרול) 1500 יב"ל, ויטמין E (אלפא-טוקופרול אצטט) 100 מ"ג, ברזל (ברזל סולפט מונוהידרט) 50 מ"ג, יוד (פוסטדיום יודיד) 1 מ"ג, נחושת (נחושת סולפט פנטהידרט) 10 מ"ג, מנגן (מנגן סולפט מונוהידרט) 35 מ"ג, אבץ (זינק סולפט מונוהידרט) 100 מ"ג, סלניום (סודיום סלניט) 0.3 מ"ג. מכיל נוגדי חמצון וחומרים משמרים טבעיים
</p>