{% extends "layout-categories.html" %}

{% block title %}
{{ products[0]['category_name'] }}
{% endblock %}

{% block hero %}
{% endblock %}

{% block feature %}

{% set featureinclude %}heros/{{category_animal.lower()}}-{{ products[0]['category_name'].lower().replace(' ', '-')
}}{% endset %}
{% include featureinclude + '.html' ignore missing %}

{% endblock %}

{% block main %}


<div class="collapsible group-introlijn field-group-div speed-fast effect-none">
  <h3><span class="field-group-format-toggler"></span></h3>
  <div class="field-group-format-wrapper" style="display: block;">

    <div class="field field-name-field-productlijnomschrijving field-type-text-long field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <h2>{{ products[0]['category_name'] }}</h2>
          <p>TODO category.description? </p>
        </div>
      </div>
    </div>

    <div class="field field-name-field-product-afbeelding field-type-image field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          TODO category.imgsrc? 
          <img typeof="foaf:Image"
            src="https://www.prinspetfoods.com/sites/default/files/styles/600x400/public/naturecare_Duo_0.png?itok=uqSNVlbn&amp;c=6a7dc92ff94d391dfd98ce4758e24b18"
            alt=""></div>
      </div>
    </div>

  </div>
</div>




{% endblock %}


{% block second %}
{% if (products|length) > 0 %}

<div class="page-taxonomy-term">
  <div id="block-views-productlijn-producten-block" class="block block-views">

    <div class="content">
      <div
        class="view view-productlijn-producten view-id-productlijn_producten view-display-id-block view-dom-id-3c80b22fa923a295f2f4663adb69c6b8 jquery-once-2-processed refresh-processed">
        <div class="view-header">
          <h1>{{ products[0]['category_name'] }} products</h1>
        </div>

        <div class="view-content">
          {% for product in products %}

          {% set product_slug %}{{ product['name'].lower().replace(' & ', '-').replace(' ', '-') }}{% endset %}
          {% set productline_url %}/{{category_animal.lower()}}/{{ product['category_name'].lower().replace(' ', '-')
          }}{% endset %}
          {% set url %}{{ productline_url }}/{{ product_slug }}{% endset %}

          <div class="views-row views-row-{{loop.index}} views-row-odd views-row-first fade-in">

            <div class="views-field views-field-field-product-afbeelding">
              <div class="field-content"><a href="{{ url }}">
                  <img src="/static/assets/images/products/{{category_animal.lower()}}/320/{{ product.imgsrc }}"
                    alt="" />
                </a></div>
            </div>

            <h2 class="views-field views-field-name">
              <span class="field-content">{{ product.category_name }}</span>
            </h2>
            <div class="views-field views-field-field-detailpagina-titel">
              <div class="field-content">
                <div><a href="{{ url }}">{{ product.name }} ({{ product.kg }} kg)</a>
                </div>
              </div>
            </div>
            <div class="views-field views-field-field-subtitel">
              <div class="field-content">{{ product.subtitle }}</div>
            </div>
          </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>
  {% else %}

  <p>You do not have a product line with that ID</p>
  {% endif %}
</div>

{% endblock %}