{% extends "layout-categories.html" %}

{% block title %}
  {% if category_animal == 'dog' %}
    Dog Products
  {% elif category_animal == 'cat' %}
    Cat Products
  {% else %}
    Products
  {% endif %}
{% endblock %}

{% block hero %}
{% endblock %}

{% block feature %}
  {% if category_animal == 'dog' %}
    {% include 'heros/products-dog.html' ignore missing %}
  {% elif category_animal == 'cat' %}
    {% include 'heros/products-cat.html' ignore missing %}
  {% endif %}
{% endblock %}

{% block main %}
{% endblock %}


  {% block second %}
  {% if (categories|length) > 0 %}


<div class="page-taxonomy-term">
  <div id="block-views-productlijn-producten-block" class="block block-views">


    <div class="content">
      <div
        class="view view-productlijn-overzicht view-id-productlijn_overzicht view-display-id-block view-dom-id-f81512cc01cf43ba62a9e7162015ccff">
        <div class="view-header">
          <h1 class="sr-only">{{ title_s }}</h1>
        </div>



        <div class="view-content">
          {% for category in categories %}

            {% set url %}/{{category_animal.lower()}}/{{ category['category_name'].lower().replace(' ', '-') }}{% endset %}


              <div class="views-row views-row-{{loop.index}} views-row-odd views-row-first">
                <div class="views-field views-field-field-product-afbeelding">
                  <div class="field-content">
                    <a href="{{ url }}">
                    <img src="/static/assets/images/categories/{{category_animal.lower()}}/{{ category.category_imgsrc }}" alt="" />
                    </a>
                  </div>
                </div>
                <h3 class="views-field views-field-name"> <span class="field-content"><a
                      href="{{ url }}">{{ category.category_name }}</a></span> </h3>
                
                <div class="views-field views-field-nothing"> <span class="field-content">
                    <p></p>
                    <ul>
                      {% for bullet in category.bullets %}
                        {% if bullet %}
                        <li>{{ bullet }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                    <p></p>
                    <a href="{{ url }}">All products</a>
                  </span> </div>
              </div>



          {% endfor %}

        </div>


      </div>
    </div>
  </div>
  {% else %}

  <p>{{ _('You do not have a product line with that ID') }}</p>
  {% endif %}
</div>

{% endblock %}