{% extends "layout-1col.html" %}

{% block title %}
{{ categories[0].category_animal}} Products
{% endblock %}

{% block hero %}
{% endblock %}

{% block main %}

<h1>Our products
  Only the best for your {{categories[0].category_animal}}</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere voluptatum voluptas officiis quod, ipsum facilis
  amet quo reprehenderit obcaecati sapiente impedit dignissimos eos dolor! Exercitationem vitae labore atque maxime
  sequi!
  Odio recu
  {% endblock %}


  {% block second %}
  {% if (categories|length) > 0 %}


<div class="page-taxonomy-term">
  <div id="block-views-productlijn-producten-block" class="block block-views">


    <div class="content">
      <div
        class="view view-productlijn-overzicht view-id-productlijn_overzicht view-display-id-block view-dom-id-f81512cc01cf43ba62a9e7162015ccff">
        <div class="view-header">
          <h1>{{ category_animal }} products</h1>
        </div>



        <div class="view-content">
          {% for category in categories %}

            {% set url %}/{{category_animal.lower()}}/{{ category['category_name'].lower().replace(' ', '-') }}{% endset %}


              <div class="views-row views-row-{{loop.index}} views-row-odd views-row-first">

                <h3 class="views-field views-field-name"> <span class="field-content"><a
                      href="{{ url }}">{{ category.category_name }}</a></span> </h3>
                <div class="views-field views-field-field-product-afbeelding">
                  <div class="field-content">
                    <a href="{{ url }}">
                    <img src="/static/assets/images/categories/{{category_animal.lower()}}/{{ category.category_imgsrc }}" alt="" />
                    </a>
                  </div>
                </div>
                <div class="views-field views-field-nothing"> <span class="field-content">
                    <p></p>
                    <ul>
                      {% for bullet in category.bullets %}
                        {% if bullet %}
                        <li>{{ bullet }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                    <p></p>
                    <a href="{{ url }}">All products</a>
                  </span> </div>
              </div>



          {% endfor %}

        </div>


      </div>
    </div>
  </div>
  {% else %}

  <p>{{ _('You do not have a product line with that ID') }}</p>
  {% endif %}
</div>

{% endblock %}