{% extends "layout-1col.html" %}

{% block title %}
{{ products[0]['productline'] }}
{% endblock %}

{% block hero %}
{% endblock %}

{% block main %}

<h1>{{ products[0]['productline'] }}</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere voluptatum voluptas officiis quod, ipsum facilis amet quo reprehenderit obcaecati sapiente impedit dignissimos eos dolor! Exercitationem vitae labore atque maxime sequi!
Odio recu
{% endblock %}


{% block second %}
{% if (products|length) > 0 %}


<div class="page-taxonomy-term">
  <div id="block-views-productlijn-producten-block" class="block block-views">


    <div class="content">
      <div
        class="view view-productlijn-producten view-id-productlijn_producten view-display-id-block view-dom-id-3c80b22fa923a295f2f4663adb69c6b8 jquery-once-2-processed refresh-processed">
        <div class="view-header">
          <h1>{{ products[0]['productline'] }} products</h1>
        </div>



        <div class="view-content">
        {% for product in products %}

        

  


          <div class="views-row views-row-{{loop.index}} views-row-odd views-row-first fade-in">

            <div class="views-field views-field-field-product-afbeelding">
              <div class="field-content"><a
                  href="/dog/prins-procare-protection/prins-procare-protection-puppy">
                  <img src="/static/assets/images/products/{{ product.imgsrc }}" alt="" />
                </a></div>
            </div>

            <h2 class="views-field views-field-name"> 
              <span class="field-content">{{ product.productline }}</span>
            </h2>
            <div class="views-field views-field-field-detailpagina-titel">
              <div class="field-content">
                <div><a
                    href="/dog/prins-procare-protection/prins-procare-protection-puppy">{{ product.producttitle }}</a>
                </div>
              </div>
            </div>
            <div class="views-field views-field-field-subtitel">
              <div class="field-content">{{ product.subtitle }}</div>
            </div>
          </div>



  {% endfor %}

</div>


</div>
</div>
</div>
  {% else %}

  <p>{{ _('You do not have a product line with that ID') }}</p>
  {% endif %}
</div>

{% endblock %}