


{% extends "layout-1col.html" %}

{% block title %}
Discover Prins
{% endblock %}

{% block hero %}
<h1>Welcome to our world!</h1>
<p>At Prins we have a passion for animals. Developing tailor-made, high quality, 100% natural cat and dog food is our specialty, improving the well-being of animals is our mission. We do that in our own expert, personal, conscious, surprising and unique way.</p>
<p>Please allow us to introduce ourselves.</p>
{% endblock %}

{% block main %}

{% include 'global/subfeature-grid.html' %}
{% endblock %}


{% block second %}
<h2>Strong brand</h2>
<p>Prins is a family company. For over more than fifty years, three generations of the Verkade family have been putting their heart and soul into animal food. Prins feels a bit like family to all of our employees. Working from three premises at the Accustraat in Veenendaal, we are -through manufacturing and education, experience-driven motivaton and enthusiasm, building on a strong and fast growing brand, which is also drawing international attention.</p>

<h2>Quality</h2>
<p>Our secret? Prins's culture, where everyone has the same goal; quality first. Quality that goes beyond labels and that we are keen on surpassing, because we are not easily satisfied. Maybe we can change something, or improve. Customers are critical, and they should be. We appreciate mindful and committed people. We want to give the consumers our sincere attention by creating great products for healthy pets and also specifically through good, professional advice.</p>
{% endblock %}
