<!DOCTYPE html>
<html class="js" lang="he" dir="rtl">

{% set title_s %}{% block title %}{% endblock %}{% endset %}
{% include 'global/head.html' %}
<body
  class="html not-front not-logged-in no-sidebars page-taxonomy page-taxonomy-term page-taxonomy-term- page-taxonomy-term-23 i18n-en page-layout-categories"
  data-new-gr-c-s-check-loaded="14.1042.0" data-gr-ext-installed="">

  <div class="region-block header">
    <header id="header" class="fixed">
      {% include 'global/header.html' %}

      {% block feature %}{% endblock %}
    </header>
  </div>

  <div class="page-spanner">
    <div class="page">

      {% if self.hero() | trim %}
      <div class="hero field field-name-field-headertekst field-type-text-long field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            {% block hero %}{% endblock %}

          </div>
        </div>
      </div>
      {% endif %}

      <div class="second-main region-block">
        <section class="block-center">
          {% block second %}{% endblock %}
        </section>
      </div>

    </div>
  </div>
  {% include 'global/footer.html' %}