<!DOCTYPE html>
<html class="js" lang="he" dir="rtl">
{% set title_s %}{% block title %}{% endblock %}{% endset %}
{% include 'global/head.html' %}
<body
  class="html front not-logged-in no-sidebars page-node page-node- page-node-23  node-type-product i18n-en"
  data-new-gr-c-s-check-loaded="14.1042.0" data-gr-ext-installed="">

  <div class="region-block header">
    <header id="header" class="fixed">

      {% include 'global/header.html' %}

      <div class="header-interactive">
        <div class="region region-header">
          <div id="block-views-header-producten-block" class="block block-views">
            <div class="content">
              <div
                class="view view-header-producten view-id-header_producten view-display-id-block view-dom-id-f0fe63a107d08c6341e93a53f43ba739">
                <div class="view-content">
                  <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                    <div class="views-field views-field-field-startafbeelding">
                      <div class="field-content">
                        {% if self.bgimg() | trim %}
                        {% block bgimg %}{% endblock %}
                        {% endif %}
                      </div>
                    </div>
                    {% if self.hero() | trim %}
                    {% block hero %}{% endblock %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="page-spanner">
    <div class="page">
      <div class="region-block main-spanner">
        <section id="main" role="main" class="clearfix block-center">
          <div class="main-content" id="main-content">
            <div class="region region-content">
              <div id="block-system-main" class="block block-system">
                <div class="content">
                  <div id="node-7997" class="node node-product clearfix"
                    about="https://www.prinspetfoods.com/dog/prins-fit-selection-dog/prins-fit-selection-puppy-junior"
                    typeof="sioc:Item foaf:Document">
                    <div class="content">
                      <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                          <div class="field-item even" property="content:encoded">
                            {% include 'global/alert.html' %}
                            {% block main %}{% endblock %}
                          </div>
                        </div>
                      </div>
                      <div class="field-collection-container clearfix">
                        Do we want this? Dynamic per product?
                        <div class="field field-name-field-usp-s field-type-field-collection field-label-hidden">
                          <div class="field-items">
                            <div class="field-item even">
                              <div class="field-collection-view clearfix view-mode-full">
                                <div about="https://www.prinspetfoods.com/field-collection/field-usp-s/1336" typeof="">
                                  <div class="content">
                                    <div
                                      class="field field-name-field-usp-afbeelding field-type-image field-label-hidden pop-up">
                                      <div class="field-items">
                                        <div class="field-item even"><img class="svg-img size-"
                                            src="/static/assets/images/svg/hond-opgroeien.svg"
                                            width="1024" height="800" alt=""></div>
                                      </div>
                                    </div>
                                    <div class="field field-name-field-usp-titel field-type-text field-label-hidden">
                                      <div class="field-items">
                                        <div class="field-item even">Growing dogs</div>
                                      </div>
                                    </div>
                                    <div
                                      class="field field-name-field-usp-subtitel field-type-text-long field-label-hidden">
                                      <div class="field-items">
                                        <div class="field-item even">Proteins contribute to the development of muscle
                                          mass while an adjusted calcium and phosphor content supports a healthy
                                          skeletal structure
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="field-item odd">
                              <div class="field-collection-view clearfix view-mode-full">
                                <div about="https://www.prinspetfoods.com/field-collection/field-usp-s/1337" typeof="">
                                  <div class="content">
                                    <div
                                      class="field field-name-field-usp-afbeelding field-type-image field-label-hidden">
                                      <div class="field-items">
                                        <div class="field-item even"><img class="svg-img size-"
                                            src="/static/assets/images/svg/kip.svg"
                                            width="1024" height="800" alt=""></div>
                                      </div>
                                    </div>
                                    <div class="field field-name-field-usp-titel field-type-text field-label-hidden">
                                      <div class="field-items">
                                        <div class="field-item even">Rich in chicken</div>
                                      </div>
                                    </div>
                                    <div
                                      class="field field-name-field-usp-subtitel field-type-text-long field-label-hidden">
                                      <div class="field-items">
                                        <div class="field-item even">Carefully selected ingredients create a tasty meal
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="field-item even">
                              <div class="field-collection-view clearfix view-mode-full field-collection-view-final">
                                <div about="https://www.prinspetfoods.com/field-collection/field-usp-s/1338" typeof="">
                                  <div class="content">
                                    <div
                                      class="field field-name-field-usp-afbeelding field-type-image field-label-hidden">
                                      <div class="field-items">
                                        <div class="field-item even"><img class="svg-img size-"
                                            src="/static/assets/images/svg/hoog-vetgehalte.svg"
                                            width="1024" height="800" alt=""></div>
                                      </div>
                                    </div>
                                    <div class="field field-name-field-usp-titel field-type-text field-label-hidden">
                                      <div class="field-items">
                                        <div class="field-item even">High fat content for junior dogs</div>
                                      </div>
                                    </div>
                                    <div
                                      class="field field-name-field-usp-subtitel field-type-text-long field-label-hidden">
                                      <div class="field-items">
                                        <div class="field-item even">Contains an increased fat content to meet the needs
                                          of junior dogs while L-carnitine stimulates optimal fat burning
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="group-foodinfo field-group-easy-responsive-tabs-nav-wrapper">
                        <h2>Nutritional Information</h2>
                        <h2>{{include_path}}</h2>
                        <div id="group-foodinfo-node-product-default" class="field-group-easy-responsive-tabs-processed"
                          style="display: block; width: 100%; margin: 0px;">
                          <ul class="resp-tabs-list group-foodinfo ">
                            <li class="resp-tab-item" aria-controls="tab_item-0" id="li-tab_item-0" role="tab">Composition
                            </li>
                            <!-- <li class="resp-tab-item" aria-controls="tab_item-1" id="li-tab_item-1" role="tab">Directions</li> -->
                            <li class="resp-tab-item" aria-controls="tab_item-2" id="li-tab_item-2" role="tab">Amount per day</li>
                            <!-- <li class="resp-tab-item" aria-controls="tab_item-3" id="li-tab_item-3" role="tab">Transfer</li> -->
                            <!-- <li class="resp-tab-item" aria-controls="tab_item-4" id="li-tab_item-4" role="tab">Additional advice</li> -->
                          </ul>

                          <div class="resp-tabs-container group-foodinfo ">
                            <div class="resp-tab-content resp-tab-content-active" 
                            aria-labelledby="tab_item-0" id="tab_item-0">
                              <h2 class="resp-accordion sr-only">Composition</h2>
                              <div
                                class="field field-name-field-table-mineralen field-type-tablefield field-label-hidden">
                                <div class="field-items">
                                  <div class="field-item even">
                                    <div class="row">
                                      <div class="col-6">


                                        {% include 'product-tabs/ingredients/' + include_path ignore missing %}

                                      </div>
                                      <div class="col-6">
                                        {% include 'product-tabs/nutrition/' + include_path ignore missing %}

                                      </div>
                                    </div>


                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="resp-tab-content resp-tab-content-active" 
                              aria-labelledby="tab_item-2" id="tab_item-2">
                              <div
                                class="field field-name-field-table-amount field-type-tablefield field-label-hidden">
                                <div class="field-items">
                                  <div class="field-item even">
                                    <h2 class="resp-accordion sr-only">Amount per Day</h2>
                                    {% include 'product-tabs/amount/' + include_path ignore missing %}

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="clear clearfix"></div>
                      </div>

                      {% include 'global/product-subbox.html' %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
 

{% include 'global/footer.html' %}