<!DOCTYPE html>
<html class="js" lang="en" dir="ltr">
  


{% include 'global/head.html' %}
 

<body class="html front not-logged-in no-sidebars page-node page-node- page-node-23 node-type-home i18n-en eu-cookie-compliance-processed" data-new-gr-c-s-check-loaded="14.1042.0" data-gr-ext-installed="">
    
        

    {% include 'global/header.html' %}

    <!-- {% include 'global/feature.html' %} -->
<div class="page-spanner" style="opacity: 1;">   
    <div class="page">
        <div class="region-block main-spanner">
            <section id="main" role="main" class="clearfix block-center">
                
                                
                <div class="main-content" id="main-content">
                                                            
                    
                      <div class="region region-content">
    <div id="block-system-main" class="block block-system">

    
  <div class="content">
    <div id="node-23" class="node node-home node-promoted clearfix" about="https://www.prinspetfoods.com/prins-natural-food-dogs-and-cats" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="Prins, natural food for dogs and cats." class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
  
  <div class="content">

    {% include 'global/alert.html' %}
    {% block main %}{% endblock %}


    <div class="field field-name-title-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even"><h1>Prins, natural food for dogs and cats.</h1>
</div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter">At Prins we have&nbsp;a passion for&nbsp;animals. Developing tailor-made,&nbsp;high quality, 100% natural cat and dog food is our specialty, improving the well-being of animals our mission.&nbsp;</p>
<p class="rtecenter">&nbsp;</p>
</div></div></div>  </div>

  
  
</div>
  </div>
</div>
<div id="block-views-usp-s-block" class="block block-views">

    
  <div class="content">
    <div class="view view-usp-s view-id-usp_s view-display-id-block view-dom-id-5fa22a91df0c1057cad013c7b20712a7">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field views-field-field-usp-afbeelding">        <div class="field-content"><img class="svg-img size-thumbnail" data-src="https://www.prinspetfoods.com/sites/default/files/svgimg/thumbnail/img-styles/kcfinder/images/Iconen/Groen%20-%20SVG/100-proc-natuurlijk.svg.png" typeof="foaf:Image" src="./static/assets/images/svg/100-proc-natuurlijk.svg" width="100" height="78" alt=""></div>  </div>  
  <div class="views-field views-field-field-usp-titel">        <div class="field-content">100% natural</div>  </div>  
  <div class="views-field views-field-field-usp-subtitel">        <div class="field-content">No artifical colours, flavours and aromas</div>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-field-usp-afbeelding">        <div class="field-content"><img class="svg-img size-thumbnail" data-src="https://www.prinspetfoods.com/sites/default/files/svgimg/thumbnail/img-styles/kcfinder/images/Iconen/Groen%20-%20SVG/nederlands.svg.png" typeof="foaf:Image" src="./static/assets/images/svg/nederlands.svg" width="100" height="78" alt=""></div>  </div>  
  <div class="views-field views-field-field-usp-titel">        <div class="field-content">Dutch family company</div>  </div>  
  <div class="views-field views-field-field-usp-subtitel">        <div class="field-content">Quality, knowledge and experience since 1963</div>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field views-field-field-usp-afbeelding">        <div class="field-content"><img class="svg-img size-thumbnail" data-src="https://www.prinspetfoods.com/sites/default/files/svgimg/thumbnail/img-styles/kcfinder/images/Iconen/Groen%20-%20SVG/dierproefvrij.svg.png" typeof="foaf:Image" src="./static/assets/images/svg/dierproefvrij.svg" width="100" height="78" alt=""></div>  </div>  
  <div class="views-field views-field-field-usp-titel">        <div class="field-content">Not tested on animals</div>  </div>  
  <div class="views-field views-field-field-usp-subtitel">        <div class="field-content">We stand for animal welfare</div>  </div>  </div>
  <div class="views-row views-row-4 views-row-even views-row-last">
      
  <div class="views-field views-field-field-usp-afbeelding">        <div class="field-content"><img class="svg-img size-thumbnail" data-src="https://www.prinspetfoods.com/sites/default/files/svgimg/thumbnail/img-styles/kcfinder/images/Iconen/Groen%20-%20SVG/ideeen.svg.png" typeof="foaf:Image" src="./static/assets/images/svg/ideeen.svg" width="100" height="78" alt=""></div>  </div>  
  <div class="views-field views-field-field-usp-titel">        <div class="field-content">Innovative</div>  </div>  
  <div class="views-field views-field-field-usp-subtitel">        <div class="field-content">We aim to renew and surprise</div>  </div>  </div>
    </div>
  
  
  
  
  
  
</div>  </div>
</div>
  </div>
                </div>
            </section>
        </div>

                <div class="second-main region-block">
            <section class="block-center">
                  <div class="region region-second-main">
    <div id="block-views-artikel-overzicht-block-2" class="block block-views">

    
  <div class="content">
    <div class="view view-artikel-overzicht view-id-artikel_overzicht view-display-id-block_2 overzicht-3 view-dom-id-e72743a89a3001b392c96d7043cd1e18 jquery-once-1-processed refresh-processed">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
          <div class="article-title views-fieldset" data-module="views_fieldsets">
            <div class="views-field views-field-field-opgemaakte-titel-regel-2"><div class="field-content">Prins Foundation donates hundreds of Christmas gift boxes</div></div>                <div class="views-field views-field-field-opgemaakte-titel-regel-1"><div class="field-content">Packages full of goodies for both humans and animals</div></div>      </div>

    
  <div class="views-field views-field-field-startafbeelding">        <div class="field-content"><div class="home-bg-image" style="background-image: url(&#39;https://www.prinspetfoods.com/sites/default/files/styles/450x450/public/ontwerp_zonder_titel_30_0.jpg?itok=WffNy8MK&amp;c=f0ac2541d0fc1a49a045bb3e41121662&#39;);background-size:cover;opacity:0.7;"></div>
</div>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="https://www.prinspetfoods.com/advice-info/prins-foundation-donates-hundreds-christmas-gift-boxes">Lees het artikel</a></span>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
          <div class="article-title views-fieldset" data-module="views_fieldsets">
            <div class="views-field views-field-field-opgemaakte-titel-regel-2"><div class="field-content">Prins introduces pet education program for primary schools </div></div>                <div class="views-field views-field-field-opgemaakte-titel-regel-1"><div class="field-content">Learn the basics of pet care in a playful way</div></div>      </div>

    
  <div class="views-field views-field-field-startafbeelding">        <div class="field-content"><div class="home-bg-image" style="background-image: url(&#39;https://www.prinspetfoods.com/sites/default/files/styles/450x450/public/ontwerp_zonder_titel_19_0.jpg?itok=MgDdh80r&amp;c=912f7ce33230c9432d736d158390d483&#39;);background-size:cover;opacity:0.7;"></div>
</div>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="https://www.prinspetfoods.com/advice-info/prins-introduces-pet-education-program-primary-schools">Lees het artikel</a></span>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd views-row-last">
      
          <div class="article-title views-fieldset" data-module="views_fieldsets">
            <div class="views-field views-field-field-opgemaakte-titel-regel-2"><div class="field-content">Prins presents dog play paradise Prins Plaza</div></div>                <div class="views-field views-field-field-opgemaakte-titel-regel-1"><div class="field-content">Unique holiday resort for dog lovers</div></div>      </div>

    
  <div class="views-field views-field-field-startafbeelding">        <div class="field-content"><div class="home-bg-image" style="background-image: url(&#39;https://www.prinspetfoods.com/sites/default/files/styles/450x450/public/ontwerp_zonder_titel_12_1.jpg?itok=JpRjp_0w&amp;c=f0ac2541d0fc1a49a045bb3e41121662&#39;);background-size:cover;opacity:0.7;"></div>
</div>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="https://www.prinspetfoods.com/advice-info/prins-presents-dog-play-paradise-prins-plaza">Lees het artikel</a></span>  </div>  </div>
    </div>
  
  
  
  
  
  
</div>  </div>
</div>
<div id="block-views-artikel-overzicht-block-3" class="block block-views">

    
  <div class="content">
    <div class="view view-artikel-overzicht view-id-artikel_overzicht view-display-id-block_3 overzicht-4 view-dom-id-f624317c5fd194dccd2c06f5750b2308 jquery-once-1-processed refresh-processed">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
      
          <div class="article-title views-fieldset" data-module="views_fieldsets">
            <div class="views-field views-field-field-opgemaakte-titel-regel-2"><div class="field-content">Prins Petfoods launches campaign aimed at kids and animals </div></div>                <div class="views-field views-field-field-opgemaakte-titel-regel-1"><div class="field-content">Booklet about how children and dogs can grow up safely </div></div>      </div>

    
  <div class="views-field views-field-field-startafbeelding">        <div class="field-content"><div class="home-bg-image" style="background-image: url(&#39;https://www.prinspetfoods.com/sites/default/files/styles/900x410/public/ontwerp_zonder_titel_3_0.jpg?itok=4MONmncx&amp;c=7beb5442b2054aede1fbd40333030339&#39;);background-size:cover;opacity:0.7;"></div>
</div>  </div>  
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="https://www.prinspetfoods.com/discover-prins/about-prins/prins-petfoods-launches-campaign-aimed-kids-and-animals">Read the article</a></span>  </div>  </div>
    </div>
  
  
  
  
  
  
</div>  </div>
</div>
  </div>
            </section>
        </div>
        

            </div>
</div>
    
<div class="copyright region-block" style="opacity: 1;">
    <section class="block-center">
                <a href="https://www.prinspetfoods.com/" title="Home" id="logo-footer" class="active">
            <img src="./static/assets/images/png/logo.png" alt="Home">
        </a>
                  <div class="region region-copyright">
    <div id="block-extra-locale-language" class="block block-extra-locale contextual-links-region">
  <div class="content">
    <ul class="language-switcher-locale-url">
            <li class="nl first "><a href="https://prinspetfoods.nl/" class="language-link" xml:lang="nl">Nederlands</a></li>
      <li class="en active"><a href="https://prinspetfoods.com/?language=en" class="language-link" xml:lang="en">English</a></li>
          </ul>
  </div>
</div><div id="block-menu-menu-footer-menu" class="block block-menu">

    
  <div class="content">
    <ul class="menu"><li class="first leaf"><a href="https://www.prinspetfoods.com/ask-our-careteam">CareTeam</a></li>
<li class="leaf"><a href="https://www.prinspetfoods.com/contact-us">Contact</a></li>
<li class="leaf"><a href="https://www.prinspetfoods.com/professionals">Business</a></li>
<li class="leaf"><a href="https://www.prinspetfoods.com/terms">Terms of service</a></li>
<li class="last leaf"><a href="https://www.prinspetfoods.com/discover-prins/about-prins/edupet-education">EduPet</a></li>
</ul>  </div>
</div>
<div id="block-block-2" class="block block-block social-icons">

            
    <div class="content">
        <ul>
<li><a class="icon icon-facebook" href="https://www.facebook.com/prinspetfoods" target="_blank">Facebook</a></li>
<li><a class="icon icon-linkedin" href="https://www.linkedin.com/company/prins-petfoods" target="_blank">Linkedin</a></li>
<li><a class="icon icon-instagram" href="https://www.instagram.com/prinspetfoods/" target="_blank">Instagram</a></li>
<li><a class="icon icon-youtube" href="https://www.youtube.com/c/PrinspetfoodsNl" target="_blank">Youtube</a></li>
<li><a class="icon icon-tiktok" href="https://www.tiktok.com/@prinspetfoods" target="_blank">TikTok</a></li>
</ul>
    </div>
</div>
  </div>
    </section>
</div>
