{% extends "layout-product.html" %}

{% block title %}
{{ products[0].name }} - {{ products[0]['category_name'] }}
{% endblock %}

{% block hero %}

<div class="product-titel views-fieldset" data-module="views_fieldsets">
  <div class="views-field views-field-name fade-ready"><span class="field-content"><a
        href="https://www.prinspetfoods.com/dog/prins-fit-selection-dog">All
        products</a></span></div>
  <div class="views-field views-field-field-productlijn fade-ready">
    <h3 class="field-content">{{ products[0]['category_name'] }}</h3>
  </div>
  <div class="views-field views-field-field-detailpagina-titel fade-ready">
    <h1 class="field-content">{{ products[0].name }}</h1>
  </div>
  <div class="views-field views-field-field-subtitel fade-ready">
    <div class="field-content">{{ products[0].subtitle }}</div>
  </div>
  <div class="product-buttons views-fieldset" data-module="views_fieldsets">
    <div>
      <div class="product-voedingswaarde">
        {% for product in products %}
        {{ product.kg }}kg
        {{ " | " if not loop.last }}
        {% endfor %}  
      </div>
    </div>
  </div>

</div>



<div class="views-field views-field-field-product-afbeelding fade-ready">
  <div class="field-content">
    <!-- TODO! this doesn't seem to pull a good image http://127.0.0.1:5000/cat/vitalcare-diet/renal-support -->
    <img src="/static/assets/images/products/{{category_animal.lower()}}/600/{{ products[0].imgsrc }}" alt="" />
  </div>
</div>





{% endblock %}

{% block main %}


<h2 class="rtecenter">{{ products[0].desc_header }}</h2>
<p class="rtecenter">{{ products[0].description }}

</p>

{% endblock %}


{% block second %}
second block
{% endblock %}