


{% extends "layout-1col.html" %}

{% block title %}
Search
{% endblock %}

{% block hero %}
<h1>Search</h1>
<form class="search-form" action="/search" method="get" id="search-form" accept-charset="UTF-8"><div><div class="container-inline form-wrapper" id="edit-basic"><div class="form-item form-type-textfield form-item-keys">
  <label for="q">Enter your keywords </label>
 <input type="text" id="q" placeholder="Search products" name="q" value="" size="40" maxlength="255" class="form-text">
</div>
<input type="submit" id="edit-submit" name="op" value="Search" class="form-submit"></div><input type="hidden" name="form_build_id" value="form-6GOtMGt2vS_KdJ1v3pIvUl_XdIpFdf7-P2hpWbiQHPw">
<input type="hidden" name="form_id" value="search_form">
<fieldset class="search-advanced collapsible collapsed form-wrapper collapse-processed" id="edit-advanced"><legend><span class="fieldset-legend"><a class="fieldset-title" href="#"><span class="fieldset-legend-prefix element-invisible">Show</span> Advanced search</a><span class="summary"></span></span></legend><div class="fieldset-wrapper"><div class="criterion"></div><div class="action"><input type="submit" id="edit-submit--2" name="op" value="Advanced search" class="form-submit"></div></div></fieldset>
</div></form>
{% endblock %}

{% block main %}
<div class="container">

  <script async src="https://cse.google.com/cse.js?cx=41c98eca19e542597"></script>
  <div class="gcse-searchresults-only"></div>

</div>
{% endblock %}


{% block second %}

{% endblock %}